Competitor Monitoring Agent.json
{
  "name": "Competitor Monitoring Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "ebbb87d1-f543-4318-b595-459b80aa9ed4",
      "name": "When chat message received",
      "webhookId": "37e5939c-ccff-4b6b-95b4-7850ae52b7b1"
    },
    {
      "parameters": {
        "jsCode": "// INPUT PARSER - Project 3 Competitor Monitoring\n// Extracts category + optional focus keyword from chat input.\n// Products for each retailer are pulled by category from the program's data server.\n\nconst input = $input.first().json.chatInput || '';\n\nconst categories = [\n  { key: 'area_rug',       displayName: 'Area Rug',       patterns: ['area rug', 'area rugs'] },\n  { key: 'outdoor_rug',    displayName: 'Outdoor Rug',    patterns: ['outdoor rug', 'outdoor rugs', 'patio rug', 'patio rugs'] },\n  { key: 'hallway_runner', displayName: 'Hallway Runner', patterns: ['hallway runner', 'runner rug', 'hall runner', 'runners', 'hallway runners'] },\n  { key: 'shag_rug',       displayName: 'Shag Rug',       patterns: ['shag rug', 'shag rugs', 'shaggy rug', 'shaggy rugs'] },\n];\n\nconst lowerInput = input.toLowerCase();\nlet detectedCategory = null;\nfor (const cat of categories) {\n  for (const pattern of cat.patterns) {\n    if (lowerInput.includes(pattern)) {\n      detectedCategory = cat;\n      break;\n    }\n  }\n  if (detectedCategory) break;\n}\n\n// Optional focus keyword (e.g. \"focus: washable\")\nconst focusMatch = input.match(/focus\\s*:\\s*([^\\n]+)/i);\nconst focus = focusMatch ? focusMatch[1].trim() : '';\n\nconst hasCategory = !!detectedCategory;\nconst categoryKey = detectedCategory ? detectedCategory.key : null;\nconst categoryDisplayName = detectedCategory ? detectedCategory.displayName : null;\n\nreturn [{\n  json: {\n    category: categoryKey,\n    categoryKey,\n    categoryDisplayName,\n    focus,\n    hasValidInput: hasCategory,\n    errorReason: hasCategory ? null : 'no_category',\n    originalInput: input,\n    parsedAt: new Date().toISOString(),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "86176cfe-39a0-4a24-af1c-d9355954e06d",
      "name": "Input Parser"
    },
    {
      "parameters": {
        "content": "## STAGE 1: INPUT\n\nParses chat message to detect the rug category and optional focus keyword.\n\nSupported categories: Area Rug, Outdoor Rug, Hallway Runner, Shag Rug",
        "height": 336,
        "width": 496,
        "color": "#D5F0E5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -160
      ],
      "id": "347b267b-d621-4fe6-b818-47e270a5a8dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/products/wayfair",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('Input Parser').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -288
      ],
      "id": "870cfd88-583f-416f-bd5d-83297d10e01a",
      "name": "Fetch Wayfair Products",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Reshape FastAPI response to the legacy shape that downstream consumers expect.\nconst r = $input.first().json;\nconst products = r.products || [];\nreturn [{\n  json: {\n    wayfair_products: products.map(p => ({\n      url: p.url,\n      name: p.name,\n      price: p.price,\n      details: p.details || [],\n      pattern: p.pattern || '',\n      image_url: p.image_url || '',\n      rating: p.rating || '',\n      review_count: p.review_count || '',\n      scraped_at: r.scraped_at || new Date().toISOString(),\n    })),\n    totalWayfair: products.length,\n    totalProducts: products.length,\n    scrapedAt: r.scraped_at || new Date().toISOString(),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -288
      ],
      "id": "be93e1e0-fa4d-4c7b-a5f3-1f82c4ea2501",
      "name": "Reshape Wayfair Response"
    },
    {
      "parameters": {
        "content": "## STAGE 2: WAYFAIR PRODUCTS\n\nFetches up to 10 Wayfair products for the selected category.",
        "height": 336,
        "width": 480,
        "color": "#E8C5C5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -432
      ],
      "id": "b3652924-1a03-4735-9855-8579891a7149",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/products/amazon",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('Input Parser').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        64
      ],
      "id": "0ce5de3a-1987-4f95-9f02-9b89fbae3de7",
      "name": "Fetch Amazon Products",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Reshape FastAPI response to the legacy shape that downstream consumers expect.\nconst r = $input.first().json;\nconst products = r.products || [];\nreturn [{\n  json: {\n    amazonProducts: products.map(p => ({\n      url: p.url,\n      name: p.name,\n      price: p.price,\n      details: p.details || [],\n      pattern: p.pattern || '',\n      image_url: p.image_url || '',\n      rating: p.rating || '',\n      review_count: p.review_count || '',\n      scraped_at: r.scraped_at || new Date().toISOString(),\n    })),\n    totalAmazonProducts: products.length,\n    totalProducts: products.length,\n    scrapedAt: r.scraped_at || new Date().toISOString(),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        64
      ],
      "id": "34e1feed-777a-4501-95c1-fc7364a90e52",
      "name": "Reshape Amazon Response"
    },
    {
      "parameters": {
        "content": "## STAGE 3: AMAZON PRODUCTS\n\nFetches up to 10 Amazon products for the selected category.",
        "height": 288,
        "width": 480,
        "color": "#E8C5C5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -32
      ],
      "id": "c41a3194-bca3-4460-8825-d5a0b21a46f3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/products/walmart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('Input Parser').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        416
      ],
      "id": "52ec518d-87e9-4e93-9974-3b3be701f261",
      "name": "Fetch Walmart Products",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Reshape FastAPI response to the legacy shape that downstream consumers expect.\nconst r = $input.first().json;\nconst products = r.products || [];\nreturn [{\n  json: {\n    walmartProducts: products.map(p => ({\n      url: p.url,\n      name: p.name,\n      price: p.price,\n      details: p.details || [],\n      pattern: p.pattern || '',\n      image_url: p.image_url || '',\n      rating: p.rating || '',\n      review_count: p.review_count || '',\n      scraped_at: r.scraped_at || new Date().toISOString(),\n    })),\n    totalWalmartProducts: products.length,\n    totalProducts: products.length,\n    scrapedAt: r.scraped_at || new Date().toISOString(),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        416
      ],
      "id": "23a580f4-0239-441d-a290-44410abdf75b",
      "name": "Reshape Walmart Response"
    },
    {
      "parameters": {
        "content": "## STAGE 4 WALMART PRODUCTS\n\nFetches up to 10 Walmart products for the selected category.",
        "height": 288,
        "width": 480,
        "color": "#E8C5C5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        336
      ],
      "id": "8f82cd7a-f3fa-4857-8e38-f1c3cb709f5e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## STAGE 5: AI ANALYSIS & REPORT GENERATION\n\nSix AI Agents work sequentially to write each section of the report:\n\n- Executive Summary - Top line findings (Mistral)\n- Amazon Analysis - Amazon specific insights (OpenRouter)\n- Comparison - head to head retailer comparison (Mistral)\n- Pricing & Whitespace - pricing gaps and opportunities (Mistral)\n- Recommendations - strategic next steps (Mistral)\n- Supplier Identification - third party suppliers worth tracking (OpenRouter)\n\nEach section runs one after the other with a short pause for rate limit safety.",
        "height": 832,
        "width": 3920,
        "color": "#F3E49B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -480
      ],
      "id": "1aea0924-b8ef-40be-ac43-5b361dc8481a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        -96
      ],
      "id": "7eb11c84-8b58-434a-89e0-882e39a43a36",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// SCOPE GENERATOR - No AI, just JavaScript\n// Generates Section 2: Scope of Research\n\nconst wayfairData = $('Reshape Wayfair Response').first().json;\nconst amazonData = $('Reshape Amazon Response').first().json;\nlet walmartData = {};\ntry { walmartData = $('Reshape Walmart Response').first().json || {}; } catch(e) {}\nconst inputData = $('Input Parser').first().json;\n\nconst category = inputData.categoryDisplayName || 'Rugs';\nconst amazonProductCount = amazonData.amazonProducts?.length || amazonData.totalProducts || 0;\nconst wayfairProductCount = wayfairData.wayfair_products?.length || 0;\nconst walmartProductCount = walmartData.walmartProducts?.length || walmartData.totalProducts || 0;\n\nconst scopeHtml = `\n<section class=\"scope-section\">\n  <h2>Scope of Research</h2>\n  <div class=\"scope-grid\">\n    <div class=\"scope-card\">\n      <h4>Category Analyzed</h4>\n      <p class=\"scope-value\">${category}</p>\n    </div>\n    <div class=\"scope-card\">\n      <h4>Competitors Reviewed</h4>\n      <ul>\n        <li><strong>Amazon</strong> - ${amazonProductCount} products analyzed</li>\n        <li><strong>Walmart</strong> - ${walmartProductCount} products analyzed</li>\n        <li><strong>Wayfair</strong> - ${wayfairProductCount} products (baseline)</li>\n      </ul>\n    </div>\n    <div class=\"scope-card\">\n      <h4>Data Sources</h4>\n      <ul>\n        <li>Product listings & pricing</li>\n        <li>Customer reviews & ratings</li>\n        <li>Product features & specifications</li>\n      </ul>\n    </div>\n    <div class=\"scope-card\">\n      <h4>Report Generated</h4>\n      <p class=\"scope-value\">${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</p>\n    </div>\n  </div>\n</section>\n`;\n\nreturn [{\n  json: {\n    section: 'scope',\n    html: scopeHtml,\n    metadata: {\n      category,\n      amazonProductCount,\n      walmartProductCount,\n      wayfairProductCount,\n      generatedAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -80
      ],
      "id": "c477c52c-f5eb-4188-83a7-882d9662d2f7",
      "name": "Scope Generator"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        -80
      ],
      "id": "a36735dd-e351-4c68-8a1d-89e0199c9324",
      "name": "Wait After Scope",
      "webhookId": "a724c097-4a0d-4088-978a-4212e60f3714"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nWAYFAIR PRODUCTS:\n{{ JSON.stringify($('Reshape Wayfair Response').first().json.wayfair_products?.slice(0, 10), null, 2) }}\n\nAMAZON COMPETITOR DATA:\n{{ JSON.stringify($('Reshape Amazon Response').first().json.amazonProducts?.slice(0, 10), null, 2) }}\n\nWALMART COMPETITOR DATA:\n{{ JSON.stringify($('Reshape Walmart Response').first().json.walmartProducts?.slice(0, 10), null, 2) }}",
        "options": {
          "systemMessage": "You are a senior competitive analyst writing an Executive Summary for Wayfair's strategy team.\n\nTASK: Write a compelling Executive Summary comparing Wayfair vs Amazon and Walmart in this rug category.\n\nREQUIREMENTS:\n1. Lead with the single most important competitive insight\n2. Include 5-6 key bullet points covering:\n   - Price positioning (Wayfair vs Amazon vs Walmart)\n   - Product assortment differences across all three\n   - Rating/review comparison\n   - Key competitive advantage for Wayfair\n   - Walmart-specific opportunities or threats\n   - Main strategic opportunity\n3. Add a \"Strategic Implications\" paragraph (2-3 sentences)\n\nOUTPUT FORMAT (HTML only, no markdown):\n<section class=\"executive-summary\">\n  <h2>Executive Summary</h2>\n  <div class=\"summary-hero\">\n    <div class=\"key-insight\">\n      <span class=\"label\">Key Competitive Insight</span>\n      <p>[Single most important finding about Wayfair vs Amazon vs Walmart]</p>\n    </div>\n  </div>\n  <div class=\"summary-points\">\n    <h3>Key Findings</h3>\n    <ul>\n      <li><strong>[Topic]:</strong> [Insight]</li>\n    </ul>\n  </div>\n  <div class=\"strategic-implications\">\n    <h3>Strategic Implications</h3>\n    <p>[What this means for Wayfair's strategy]</p>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1888,
        -80
      ],
      "id": "d3b59155-6f34-4bcd-82e2-235bcaa07270",
      "name": "Executive Summary Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1760,
        128
      ],
      "id": "0301d7b8-7fd4-46bb-b808-fa9719626d00",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        -80
      ],
      "id": "c69196a8-26f2-4271-af3d-a17b22513f0d",
      "name": "Wait After Executive",
      "webhookId": "ba6457cf-c81c-40f4-b132-42f589779b63"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nAMAZON PRODUCTS:\n{{ JSON.stringify($('Reshape Amazon Response').first().json.amazonProducts?.slice(0, 15), null, 2) }}\n\nWALMART PRODUCTS:\n{{ JSON.stringify($('Reshape Walmart Response').first().json.walmartProducts?.slice(0, 15), null, 2) }}",
        "options": {
          "systemMessage": "You are a marketplace analyst. Analyze Amazon and Walmart competitor products.\n\n  TASK: Create a Competitor Analysis section covering BOTH Amazon AND Walmart with clickable product links.\n\n  IMPORTANT: When listing products in tables, wrap product names in anchor tags using their URL:\n  <a href=\"[product_url]\">[Product Name]</a>\n\n  INCLUDE:\n  1. Amazon Analysis:\n     - Product count, price range, avg rating\n     - Top 3 performers WITH clickable links to their URLs\n     - Common features\n  2. Walmart Analysis:\n     - Product count, price range\n     - Top 3 performers WITH clickable links to their URLs\n     - Size/color variety\n  3. Cross-Competitor Comparison\n     - Which competitor has better pricing\n     - Which has more variety\n     - Key differentiators\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"competitor-analysis\">\n    <h2>Competitor Analysis</h2>\n\n    <div class=\"amazon-section\">\n      <h3>Amazon Overview</h3>\n      <div class=\"stats-grid\">\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Count]</span>\n          <span class=\"stat-label\">Products Analyzed</span>\n        </div>\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Min] - [Max]</span>\n          <span class=\"stat-label\">Price Range</span>\n        </div>\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Avg]/5</span>\n          <span class=\"stat-label\">Avg Rating</span>\n        </div>\n      </div>\n      <div class=\"top-performers\">\n        <h4>Top Amazon Products</h4>\n        <table class=\"data-table\">\n          <thead><tr><th>Product</th><th>Price</th><th>Rating</th></tr></thead>\n          <tbody>\n            <tr>\n              <td><a href=\"[full_amazon_url]\">[Product Name - shortened if needed]</a></td>\n              <td>[Price]</td>\n              <td>[Rating] ([Review Count])</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_amazon_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Rating] ([Review Count])</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_amazon_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Rating] ([Review Count])</td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n      <div class=\"common-features\">\n        <h4>Common Features</h4>\n        <ul>\n          <li>[Feature 1]</li>\n          <li>[Feature 2]</li>\n          <li>[Feature 3]</li>\n          <li>[Feature 4]</li>\n        </ul>\n      </div>\n    </div>\n\n    <div class=\"walmart-section\">\n      <h3>Walmart Overview</h3>\n      <div class=\"stats-grid\">\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Count]</span>\n          <span class=\"stat-label\">Products Analyzed</span>\n        </div>\n        <div class=\"stat-card\">\n          <span class=\"stat-value\">[Min] - [Max]</span>\n          <span class=\"stat-label\">Price Range</span>\n        </div>\n      </div>\n      <div class=\"top-performers\">\n        <h4>Top Walmart Products</h4>\n        <table class=\"data-table\">\n          <thead><tr><th>Product</th><th>Price</th><th>Sizes Available</th></tr></thead>\n          <tbody>\n            <tr>\n              <td><a href=\"[full_walmart_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Size options or count]</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_walmart_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Size options]</td>\n            </tr>\n            <tr>\n              <td><a href=\"[full_walmart_url]\">[Product Name]</a></td>\n              <td>[Price]</td>\n              <td>[Size options]</td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n      <div class=\"variety\">\n        <h4>Size/Color Variety</h4>\n        <ul>\n          <li><strong>Sizes:</strong> [Range description]</li>\n          <li><strong>Colors:</strong> [Count and types]</li>\n          <li><strong>Brands:</strong> [List main brands]</li>\n        </ul>\n      </div>\n    </div>\n\n    <div class=\"cross-comparison\">\n      <h3>Cross-Competitor Insights</h3>\n      <ul>\n        <li><strong>Pricing:</strong> [Which competitor wins on price and why]</li>\n        <li><strong>Variety:</strong> [Which has better selection]</li>\n        <li><strong>Key Differentiators:</strong> [What makes each unique]</li>\n        <li><strong>Target Audience:</strong> [Who each competitor serves best]</li>\n      </ul>\n    </div>\n  </section>\n\n  CRITICAL:\n  - Extract actual URLs from the product data and use them in href attributes\n  - Use the full URL (https://www.amazon.com/... or https://www.walmart.com/...)\n  - If URL is not available, just use the product name without a link\n  - Truncate long product names to ~50 characters for readability"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2448,
        -80
      ],
      "id": "6948879b-a43e-4826-afe7-4b39a4259546",
      "name": "Amazon Analysis Generator"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2320,
        128
      ],
      "id": "5c2b2dd4-2678-4e1f-9156-58eaf14a40f9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Br3P4kvHtLwPUxgZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2800,
        -80
      ],
      "id": "b645adc3-25ed-4d6a-a63e-c9c4a58dc7d1",
      "name": "Wait after Amazon",
      "webhookId": "a633074e-b484-4943-aae4-8b5f262baf9b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nWAYFAIR PRODUCTS:\n{{ JSON.stringify($('Reshape Wayfair Response').first().json.wayfair_products?.slice(0, 10), null, 2) }}\n\nAMAZON PRODUCTS:\n{{ JSON.stringify($('Reshape Amazon Response').first().json.amazonProducts?.slice(0, 10), null, 2) }}\n\nWALMART PRODUCTS:\n{{ JSON.stringify($('Reshape Walmart Response').first().json.walmartProducts?.slice(0, 10), null, 2) }}",
        "options": {
          "systemMessage": "You are a competitive intelligence analyst. Create a side-by-side comparison of Wayfair vs Amazon vs Walmart.\n\n  TASK: Create a comprehensive three-way Competitor Comparison table with clear winner indicators.\n\n  COMPARE THESE ATTRIBUTES:\n  1. Price Positioning (avg, min, max for each)\n  2. Product Variety/Count\n  3. Rating Distribution\n  4. Feature Highlights\n  5. Size/Color Options\n  6. Shipping/Delivery\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"competitor-comparison\">\n    <h2>Side-by-Side Comparison</h2>\n    <table class=\"comparison-table\">\n      <thead>\n        <tr>\n          <th>Attribute</th>\n          <th>Wayfair</th>\n          <th>Amazon</th>\n          <th>Walmart</th>\n          <th>Winner</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          <td><strong>Price Positioning</strong></td>\n          <td>\n            Avg: $[X]<br>\n            Min: $[X]<br>\n            Max: $[X]\n          </td>\n          <td>\n            Avg: $[X]<br>\n            Min: $[X]<br>\n            Max: $[X]\n          </td>\n          <td>\n            Avg: $[X]<br>\n            Min: $[X]<br>\n            Max: $[X]\n          </td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Product Variety</strong></td>\n          <td>\n            [X] products<br>\n            Brands: [list]<br>\n            Styles: [list]\n          </td>\n          <td>\n            [X] products<br>\n            Brands: [list]<br>\n            Styles: [list]\n          </td>\n          <td>\n            [X] products<br>\n            Brands: [list]<br>\n            Styles: [list]\n          </td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Avg Rating</strong></td>\n          <td>[X] / 5 stars<br>([X] - [X] reviews)</td>\n          <td>[X] / 5 stars<br>([X] - [X] reviews)</td>\n          <td>[Data if available or \"N/A\"]</td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Key Features</strong></td>\n          <td>\n            <ul>\n              <li>[Feature 1]</li>\n              <li>[Feature 2]</li>\n              <li>[Feature 3]</li>\n            </ul>\n          </td>\n          <td>\n            <ul>\n              <li>[Feature 1]</li>\n              <li>[Feature 2]</li>\n              <li>[Feature 3]</li>\n            </ul>\n          </td>\n          <td>\n            <ul>\n              <li>[Feature 1]</li>\n              <li>[Feature 2]</li>\n              <li>[Feature 3]</li>\n            </ul>\n          </td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner or \"Tie\"]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Size Options</strong></td>\n          <td>[Description of size range]</td>\n          <td>[Description of size range]</td>\n          <td>[Description of size range]</td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n        <tr>\n          <td><strong>Shipping</strong></td>\n          <td>[Shipping info]</td>\n          <td>[Shipping info]</td>\n          <td>[Shipping info]</td>\n          <td class=\"winner\"><span class=\"winner-badge [winner-class]\">[Winner Name]</span></td>\n        </tr>\n      </tbody>\n    </table>\n\n    <div class=\"comparison-insights\">\n      <h3>Key Takeaways</h3>\n      <ul>\n        <li><strong>Price Leader:</strong> [Who wins on price and why]</li>\n        <li><strong>Variety & Selection:</strong> [Who has the best assortment]</li>\n        <li><strong>Customer Confidence:</strong> [Rating/review insights]</li>\n        <li><strong>Practical Features:</strong> [Who offers best features]</li>\n        <li><strong>Shipping Convenience:</strong> [Delivery comparison]</li>\n        <li><strong>Overall:</strong> [Summary of who wins in what scenarios]</li>\n      </ul>\n    </div>\n  </section>\n\n  <style>\n  .winner-badge {\n    display: inline-block;\n    padding: 4px 12px;\n    border-radius: 20px;\n    font-weight: 600;\n    font-size: 0.85rem;\n  }\n  .winner-wayfair { background: #d1fae5; color: #065f46; }\n  .winner-amazon { background: #fef3c7; color: #92400e; }\n  .winner-walmart { background: #dbeafe; color: #1e40af; }\n  .winner-tie { background: #f3f4f6; color: #374151; }\n  </style>\n\n  WINNER CLASS RULES:\n  - If Wayfair wins: use class=\"winner-wayfair\"\n  - If Amazon wins: use class=\"winner-amazon\"\n  - If Walmart wins: use class=\"winner-walmart\"\n  - If Tie: use class=\"winner-tie\"\n\n  IMPORTANT:\n  - Calculate actual averages from the product data\n  - Be objective - pick winner based on data, not bias\n  - Use \"Tie\" when competitors are roughly equal\n  - Include the inline style block at the end for winner badges"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3008,
        -80
      ],
      "id": "79749b99-2cf5-446f-9221-1c13a3d07ee1",
      "name": "Comparison Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2880,
        128
      ],
      "id": "f89b198e-0ed3-4333-8880-e0f7c387b081",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3360,
        -80
      ],
      "id": "de869dfb-9d00-4db2-971c-862d3fa477b9",
      "name": "Wait",
      "webhookId": "049a04e7-9fbb-41c5-8242-97cd340a0238"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nWAYFAIR PRODUCTS (prices):\n{{ JSON.stringify($('Reshape Wayfair Response').first().json.wayfair_products?.map(p => ({ title: p.title, price: p.price, list_price: p.list_price, discount: p.discount_percent })).slice(0, 15), null, 2) }}\n\nAMAZON PRODUCTS (prices):\n{{ JSON.stringify($('Reshape Amazon Response').first().json.amazonProducts?.map(p => ({ name: p.name, price: p.price })).slice(0, 15), null, 2) }}\n\nWALMART PRODUCTS (prices):\n{{ JSON.stringify($('Reshape Walmart Response').first().json.walmartProducts?.map(p => ({ name: p.name, price: p.price, originalPrice: p.originalPrice, sizes: p.sizes })).slice(0, 15), null, 2) }}",
        "options": {
          "systemMessage": "You are a pricing strategist. Analyze pricing across Wayfair, Amazon, and Walmart.\n\n  TASK: Create Pricing Insights & Whitespace Analysis with visual elements.\n\n  ANALYZE:\n  1. Price band distribution per competitor (budget <$100, mid $100-300, premium $300+)\n  2. Count products in each band for each retailer\n  3. Discount strategies across retailers\n  4. Price gaps and underserved segments\n  5. Whitespace opportunities (prioritized as High/Medium/Low)\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"pricing-whitespace\">\n    <h2>Pricing Insights</h2>\n\n    <div class=\"price-bands\">\n      <h3>Price Distribution by Retailer</h3>\n      <div class=\"band-chart\">\n        <div class=\"band budget\">\n          <span>Budget (&lt;$100)</span>\n          <span>W: [X] | A: [Y] | Wm: [Z]</span>\n        </div>\n        <div class=\"band mid\">\n          <span>Mid ($100-$300)</span>\n          <span>W: [X] | A: [Y] | Wm: [Z]</span>\n        </div>\n        <div class=\"band premium\">\n          <span>Premium ($300+)</span>\n          <span>W: [X] | A: [Y] | Wm: [Z]</span>\n        </div>\n      </div>\n      <div class=\"insights\">\n        <p><strong>Analysis:</strong> [2-3 sentences about price distribution patterns]</p>\n      </div>\n    </div>\n\n    <div class=\"discount-strategies\">\n      <h3>Discount Strategies</h3>\n      <div class=\"discount-chart\">\n        <div class=\"discount-tier\"><span>No Discount</span><span>[X]</span></div>\n        <div class=\"discount-tier\"><span>1-30% Off</span><span>[X]</span></div>\n        <div class=\"discount-tier\"><span>31-50% Off</span><span>[X]</span></div>\n        <div class=\"discount-tier\"><span>50%+ Off</span><span>[X]</span></div>\n      </div>\n      <div class=\"insights\">\n        <p><strong>Key Insight:</strong> [Observation about discount strategies by retailer]</p>\n      </div>\n    </div>\n\n    <h2>Whitespace Analysis</h2>\n\n    <div class=\"whitespace-opportunities\">\n      <h3>Market Gaps & Opportunities</h3>\n      <div class=\"opportunity-cards\">\n        <div class=\"opportunity-card high-priority\">\n          <h4>🎯 [High Priority Opportunity Title]</h4>\n          <p>[Description of the gap - what price range, what's missing, why it matters]</p>\n          <span class=\"priority\">High Priority</span>\n          <div class=\"rationale\"><p><strong>Why?</strong> [Brief justification]</p></div>\n        </div>\n        <div class=\"opportunity-card high-priority\">\n          <h4>🎯 [Another High Priority Opportunity]</h4>\n          <p>[Description]</p>\n          <span class=\"priority\">High Priority</span>\n          <div class=\"rationale\"><p><strong>Why?</strong> [Brief justification]</p></div>\n        </div>\n        <div class=\"opportunity-card medium-priority\">\n          <h4>⚡ [Medium Priority Opportunity]</h4>\n          <p>[Description]</p>\n          <span class=\"priority\">Medium Priority</span>\n        </div>\n        <div class=\"opportunity-card low-priority\">\n          <h4>📊 [Low Priority Opportunity]</h4>\n          <p>[Description]</p>\n          <span class=\"priority\">Low Priority</span>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"price-gaps\">\n      <h3>Price Gap Heatmap</h3>\n      <div class=\"heatmap\">\n        <div class=\"gap hot\"><span>$0-$50</span><span>🔥 High Competition (Amazon/Walmart)</span></div>\n        <div class=\"gap warm\"><span>$50-$100</span><span>⚠️ Moderate Competition</span></div>\n        <div class=\"gap moderate\"><span>$100-$200</span><span>⚠️ Discount-Heavy</span></div>\n        <div class=\"gap cool\"><span>$200-$400</span><span>🟢 Opportunity Zone</span></div>\n        <div class=\"gap open\"><span>$400+</span><span>🟢🟢 Wide Open</span></div>\n      </div>\n    </div>\n  </section>\n\n  IMPORTANT:\n  - Use actual product counts from the data for each price band\n  - Include 2-3 high priority, 1-2 medium priority, and 1 low priority opportunities\n  - Make the heatmap reflect actual competition levels based on the data\n  - Use emojis as shown (🎯, ⚡, 📊, 🔥, ⚠️, 🟢)\n  - W = Wayfair, A = Amazon, Wm = Walmart in the band chart"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3568,
        -80
      ],
      "id": "a854b0a2-e137-448c-a2a0-bb5bfacc8282",
      "name": "Pricing & Whitespace Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3440,
        128
      ],
      "id": "4968bbf8-746e-4df0-b85d-6b2b4b89ee61",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3920,
        -80
      ],
      "id": "ed6d7b88-df14-4230-81f8-bda853c95d7e",
      "name": "Wait1",
      "webhookId": "77b18df5-f232-4d6a-88c3-eb2cf2fc1d9a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nEXECUTIVE SUMMARY:\n{{ $('Executive Summary Generator').first().json.output }}\n\nAMAZON ANALYSIS:\n{{ $('Amazon Analysis Generator').first().json.output }}\n\nCOMPARISON:\n{{ $('Comparison Generator').first().json.output }}\n\nPRICING & WHITESPACE:\n{{ $('Pricing & Whitespace Generator').first().json.output }}",
        "options": {
          "systemMessage": "You are a senior strategy consultant. Based on all the analysis of Wayfair vs Amazon vs Walmart, provide actionable recommendations.\n\n  TASK: Create Strategic Recommendations with clear prioritization and visual hierarchy.\n\n  PROVIDE:\n  1. 2-3 Quick Wins (immediate actions, high impact)\n  2. 3-4 Strategic Initiatives (longer-term plays)\n  3. Each recommendation needs: title, description, priority level, expected impact\n  4. At least one recommendation should specifically address Walmart competition\n  5. At least one recommendation should specifically address Amazon competition\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"recommendations\">\n    <h2>Strategic Recommendations</h2>\n\n    <div class=\"quick-wins\">\n      <h3>🚀 Quick Wins (Immediate Actions)</h3>\n      <div class=\"rec-cards\">\n        <div class=\"rec-card priority-high\">\n          <h4>1. [Recommendation Title]</h4>\n          <p>[Detailed description - 2-3 sentences explaining what to do and why. Mention which competitor this addresses (Amazon/Walmart/Both).]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">High Priority</span>\n            <span class=\"impact\">Impact: High</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-high\">\n          <h4>2. [Recommendation Title]</h4>\n          <p>[Detailed description addressing specific competitor threat or opportunity.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">High Priority</span>\n            <span class=\"impact\">Impact: High</span>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"strategic-plays\">\n      <h3>📊 Strategic Initiatives</h3>\n      <div class=\"rec-cards\">\n        <div class=\"rec-card priority-high\">\n          <h4>3. [Strategic Initiative Title]</h4>\n          <p>[Longer description - explain the strategy, which competitor gap it exploits, and expected outcomes.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">High Priority</span>\n            <span class=\"impact\">Impact: High</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-medium\">\n          <h4>4. [Strategic Initiative Title]</h4>\n          <p>[Description of medium-priority initiative.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">Medium Priority</span>\n            <span class=\"impact\">Impact: Medium</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-medium\">\n          <h4>5. [Strategic Initiative Title]</h4>\n          <p>[Description - could be about differentiation, new product lines, or market positioning.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">Medium Priority</span>\n            <span class=\"impact\">Impact: Medium</span>\n          </div>\n        </div>\n        <div class=\"rec-card priority-low\">\n          <h4>6. [Lower Priority Initiative]</h4>\n          <p>[Description of a nice-to-have or longer-term exploration.]</p>\n          <div class=\"rec-meta\">\n            <span class=\"priority\">Low Priority</span>\n            <span class=\"impact\">Impact: Medium</span>\n          </div>\n        </div>\n      </div>\n    </div>\n  </section>\n\n  PRIORITY GUIDELINES:\n  - priority-high: Urgent, addresses immediate competitive threat, high ROI\n  - priority-medium: Important but not urgent, builds long-term advantage\n  - priority-low: Nice to have, exploratory, or requires more research\n\n  CONTENT GUIDELINES:\n  - Be specific - reference actual findings from the analysis\n  - Mention specific competitors by name (Amazon, Walmart)\n  - Reference specific price points or product gaps identified\n  - Include actionable next steps, not vague suggestions\n  - Each recommendation should tie back to data from earlier sections\n\n  EXAMPLES OF GOOD RECOMMENDATIONS:\n  - \"Launch a $80-$150 'Value Plus' line to compete with Walmart's large-format rugs\"\n  - \"Expand machine-washable selection to counter Amazon's Soalmost success\"\n  - \"Create 'Designer Picks' collections to differentiate from Amazon's Ophanie dominance\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4128,
        -80
      ],
      "id": "3ba87d82-7abb-45bc-9cf5-bedb7c8bd988",
      "name": "Recommendations Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        4000,
        128
      ],
      "id": "b43483a4-7479-4167-a283-c3dc78230956",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4480,
        -80
      ],
      "id": "f5f6ad7d-d656-428f-81e4-5d8e01610fc7",
      "name": "Wait2",
      "webhookId": "d6f7fa74-6d97-4527-b42f-8c1116078461"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser').first().json.categoryDisplayName }}\n\nAMAZON PRODUCTS:\n{{ JSON.stringify($('Reshape Amazon Response').first().json.amazonProducts?.map(p => ({ name: p.name, brand: p.brand, url: p.url, price: p.price })).slice(0, 15), null, 2) }}\n\n  WALMART PRODUCTS:\n  {{ JSON.stringify($('Reshape Walmart Response').first().json.walmartProducts?.map(p => ({ name: p.name, brand: p.brand, url: p.url, price: p.price })).slice(0, 15), null, 2) }}\n\n  WAYFAIR PRODUCTS:\n  {{ JSON.stringify($('Reshape Wayfair Response').first().json.wayfair_products?.map(p => ({ title: p.title, manufacturer: p.manufacturer })).slice(0, 15), null, 2) }}",
        "options": {
          "systemMessage": "You are a sourcing analyst specializing in home goods supply chain. Identify suppliers and brands from competitor product data.\n\n  TASK: Create a Supplier Identification & Sourcing Opportunities section.\n\n  ANALYZE THE DATA TO:\n  1. Extract all unique brand/supplier names from Amazon and Walmart products\n  2. Identify which brands are NOT currently on Wayfair\n  3. Note what each supplier is known for (style, price point, features)\n  4. Find sourcing opportunities for Wayfair\n\n  OUTPUT FORMAT (HTML only, no markdown):\n  <section class=\"supplier-identification\">\n    <h2>Supplier Identification & Sourcing Opportunities</h2>\n\n    <div class=\"suppliers-observed\">\n      <h3>Major Suppliers / Brands Observed</h3>\n      <table class=\"data-table\">\n        <thead>\n          <tr>\n            <th>Supplier / Brand</th>\n            <th>Platform</th>\n            <th>Known For</th>\n            <th>Price Range</th>\n            <th>Website</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td><strong>[Brand Name]</strong></td>\n            <td>[Amazon/Walmart/Both]</td>\n            <td>[Brief description - style, features, target market]</td>\n            <td>$[X] - $[Y]</td>\n            <td><a href=\"[url_if_known]\">[Website or \"Amazon Storefront\"]</a></td>\n          </tr>\n          <!-- Repeat for each major brand found (aim for 5-10 brands) -->\n        </tbody>\n      </table>\n    </div>\n\n    <div class=\"sourcing-opportunities\">\n      <h3>Sourcing Opportunities</h3>\n      <div class=\"opportunity-cards\">\n        <div class=\"opportunity-card high-priority\">\n          <h4>🎯 Brands Not Currently on Wayfair</h4>\n          <p>The following suppliers are active on Amazon/Walmart but appear absent from Wayfair's catalog:</p>\n          <ul>\n            <li><strong>[Brand]</strong> - [Why they'd be valuable: style, price point, reviews]</li>\n            <li><strong>[Brand]</strong> - [Why they'd be valuable]</li>\n            <li><strong>[Brand]</strong> - [Why they'd be valuable]</li>\n          </ul>\n          <span class=\"priority\">High Priority</span>\n        </div>\n\n        <div class=\"opportunity-card medium-priority\">\n          <h4>⚡ Style Gaps to Fill</h4>\n          <p>These suppliers offer styles or products that could fill gaps in Wayfair's assortment:</p>\n          <ul>\n            <li><strong>[Brand]</strong> specializes in [style] which Wayfair lacks depth in</li>\n            <li><strong>[Brand]</strong> offers [feature/style] at competitive price points</li>\n          </ul>\n          <span class=\"priority\">Medium Priority</span>\n        </div>\n\n        <div class=\"opportunity-card medium-priority\">\n          <h4>🏭 Private Label / Exclusive Candidates</h4>\n          <p>These suppliers may be suitable for private label partnerships or exclusive arrangements:</p>\n          <ul>\n            <li><strong>[Brand]</strong> - [Why: quality, price point, style alignment]</li>\n            <li><strong>[Brand]</strong> - [Why: manufacturing capability, unique features]</li>\n          </ul>\n          <span class=\"priority\">Medium Priority</span>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"supplier-insights\">\n      <h3>Key Supplier Insights</h3>\n      <div class=\"insights\">\n        <ul>\n          <li><strong>Amazon Dominance:</strong> [Which brand dominates Amazon in this category and why]</li>\n          <li><strong>Walmart Focus:</strong> [What type of suppliers Walmart features]</li>\n          <li><strong>Price Point Gaps:</strong> [Where supplier opportunities exist by price]</li>\n          <li><strong>Emerging Brands:</strong> [Any newer brands showing strong reviews/traction]</li>\n        </ul>\n      </div>\n    </div>\n  </section>\n\n  BRAND IDENTIFICATION TIPS:\n  - Look for brand names in product titles (usually first word or after \"by\")\n  - Common Amazon rug brands: Ophanie, Rugs.com, Safavieh, nuLOOM, Unique Loom, Gorilla Grip, Lahome\n  - Common Walmart rug brands: Mainstays, Better Homes & Gardens, SAFAVIEH, Pentantan, My Texas House\n  - If brand website unknown, link to their Amazon/Walmart storefront or write \"Search Required\"\n\n  IMPORTANT:\n  - Only include brands you can actually identify from the product data\n  - Compare against Wayfair's manufacturer list to identify gaps\n  - Be realistic about private label candidates (smaller brands, quality products)\n  - Include at least 5 brands in the main table"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4688,
        -80
      ],
      "id": "82f6e388-e7a4-40e0-a0f2-c1245e71f4f6",
      "name": "Supplier Identification Generator"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4560,
        128
      ],
      "id": "9340bf03-c0a2-4186-9fff-1ac334577355",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "Br3P4kvHtLwPUxgZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## STAGE 6: OUTPUT\n\nThe Assemble HTML node stiches all sections into a single styled report\n\n",
        "height": 384,
        "width": 912,
        "color": "#E4B4FD"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4976,
        -256
      ],
      "id": "a5c134f3-5a97-4cf8-912e-41b9d56b5a89",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "// HTML ASSEMBLER - Combines all sections into final report\n\nconst category = $('Input Parser').first().json.categoryDisplayName || 'Rugs';\nconst scopeHtml = $('Scope Generator').first().json.html || '';\nconst execSummary = $('Executive Summary Generator').first().json.output || '';\nconst amazonAnalysis = $('Amazon Analysis Generator').first().json.output || '';\nconst comparison = $('Comparison Generator').first().json.output || '';\nconst pricingWhitespace = $('Pricing & Whitespace Generator').first().json.output || '';\nconst recommendations = $('Recommendations Generator').first().json.output || '';\nconst supplierIdentification = $('Supplier Identification Generator').first().json.output || '';\n\nconst fullHtml = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Competitor Analysis Report - ${category}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n      :root {\n        --primary: #7C3AED;\n        --primary-light: #A78BFA;\n        --success: #059669;\n        --warning: #D97706;\n        --danger: #DC2626;\n        --gray-50: #F9FAFB;\n        --gray-100: #F3F4F6;\n        --gray-200: #E5E7EB;\n        --gray-500: #6B7280;\n        --gray-700: #374151;\n        --gray-900: #111827;\n      }\n      * { box-sizing: border-box; margin: 0; padding: 0; }\n      body {\n        font-family: 'Inter', -apple-system, sans-serif;\n        line-height: 1.6;\n        color: var(--gray-700);\n        background: var(--gray-50);\n        padding: 2rem;\n      }\n      .report-container {\n        max-width: 1200px;\n        margin: 0 auto;\n        background: white;\n        border-radius: 12px;\n        box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);\n        overflow: hidden;\n      }\n      .report-header {\n        background: linear-gradient(135deg, var(--primary) 0%, #5B21B6 100%);\n        color: white;\n        padding: 3rem;\n        text-align: center;\n      }\n      .report-header h1 { font-size: 2.5rem; font-weight: 700; margin-bottom: 0.5rem; }\n      .report-header .subtitle { opacity: 0.9; font-size: 1.1rem; }\n      .report-content { padding: 2rem 3rem; }\n      section { margin-bottom: 3rem; padding-bottom: 2rem; border-bottom: 1px solid var(--gray-200); }\n      section:last-child { border-bottom: none; }\n      h2 { color: var(--gray-900); font-size: 1.75rem; font-weight: 600; margin-bottom: 1.5rem; padding-bottom: 0.5rem; border-bottom: 3px solid var(--primary); display: inline-block; }\n      h3 { color: var(--gray-700); font-size: 1.25rem; font-weight: 600; margin: 1.5rem 0 1rem; }\n      h4 { color: var(--gray-700); font-size: 1rem; font-weight: 600; margin-bottom: 0.5rem; }\n\n      /* Scope & Stats Grid */\n      .scope-grid, .stats-grid, .profile-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 1.5rem; margin: 1rem 0; }\n      .scope-card, .stat-card, .profile-card {\n        background: var(--gray-50);\n        padding: 1.5rem;\n        border-radius: 8px;\n        border: 1px solid var(--gray-200);\n      }\n      .scope-value, .stat-value { font-size: 1.5rem; font-weight: 700; color: var(--primary); }\n      .stat-label { display: block; font-size: 0.875rem; color: var(--gray-500); margin-top: 0.25rem; }\n\n      /* Executive Summary */\n      .summary-hero { background: linear-gradient(135deg, #F3E8FF 0%, #E0E7FF 100%); padding: 2rem; border-radius: 12px; margin-bottom: 1.5rem; }\n      .key-insight .label { background: var(--primary); color: white; padding: 0.25rem 0.75rem; border-radius: 4px; font-size: 0.75rem; font-weight: 600; text-transform: uppercase; }\n      .key-insight p { font-size: 1.25rem; font-weight: 500; color: var(--gray-900); margin-top: 1rem; }\n      .summary-points ul, .feature-analysis ul { list-style: none; }\n      .summary-points li, .feature-analysis li { padding: 0.75rem 0; border-bottom: 1px solid var(--gray-100); }\n\n      /* Data Tables */\n      .data-table, .comparison-table { width: 100%; border-collapse: collapse; margin: 1rem 0; }\n      .data-table th, .comparison-table th { background: var(--gray-100); padding: 1rem; text-align: left; font-weight: 600; }\n      .data-table td, .comparison-table td { padding: 1rem; border-bottom: 1px solid var(--gray-200); }\n      .data-table a { color: var(--primary); text-decoration: none; font-weight: 500; }\n      .data-table a:hover { text-decoration: underline; }\n\n      /* Winner Styling */\n      .winner { font-weight: 600; }\n      .winner-wayfair, td.winner:contains('Wayfair') { color: var(--success); }\n      .winner-amazon, td.winner:contains('Amazon') { color: var(--warning); }\n      .winner-walmart { color: #2563EB; }\n\n      /* Pricing Bands - Colored Bars */\n      .band-chart { display: flex; gap: 10px; margin: 20px 0; flex-wrap: wrap; }\n      .band {\n        flex: 1;\n        min-width: 150px;\n        padding: 20px 15px;\n        border-radius: 8px;\n        color: white;\n        text-align: center;\n        font-weight: bold;\n        box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n      }\n      .band span { display: block; }\n      .band span:first-child { font-size: 0.9rem; margin-bottom: 8px; opacity: 0.9; }\n      .band span:last-child { font-size: 1.1rem; }\n      .band.budget { background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%); }\n      .band.mid { background: linear-gradient(135deg, #f39c12 0%, #d68910 100%); }\n      .band.premium { background: linear-gradient(135deg, #27ae60 0%, #1e8449 100%); }\n\n      /* Discount Tiers */\n      .discount-chart { display: flex; gap: 10px; margin: 20px 0; flex-wrap: wrap; }\n      .discount-tier {\n        flex: 1;\n        min-width: 120px;\n        padding: 15px;\n        background: var(--gray-100);\n        border-radius: 8px;\n        text-align: center;\n        border: 1px solid var(--gray-200);\n      }\n      .discount-tier span { display: block; }\n      .discount-tier span:first-child { font-size: 0.85rem; color: var(--gray-500); margin-bottom: 5px; }\n      .discount-tier span:last-child { font-size: 1.25rem; font-weight: 700; color: var(--primary); }\n\n      /* Opportunity Cards with Priority Colors */\n      .opportunity-cards { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; margin-top: 20px; }\n      .opportunity-card, .rec-card {\n        background: white;\n        border: 1px solid var(--gray-200);\n        border-radius: 8px;\n        padding: 1.5rem;\n        margin-bottom: 1rem;\n        box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n      }\n      .opportunity-card.high-priority { border-left: 4px solid #e74c3c; background-color: #fdf2f2; }\n      .opportunity-card.medium-priority { border-left: 4px solid #f39c12; background-color: #fffbf0; }\n      .opportunity-card.low-priority { border-left: 4px solid #3498db; background-color: #f0f7ff; }\n      .rec-card.priority-high { border-left: 4px solid #e74c3c; background-color: #fdf2f2; }\n      .rec-card.priority-medium { border-left: 4px solid #f39c12; background-color: #fffbf0; }\n      .rec-card.priority-low { border-left: 4px solid #3498db; background-color: #f0f7ff; }\n\n      /* Priority Badges */\n      .priority {\n        display: inline-block;\n        margin-top: 10px;\n        padding: 4px 12px;\n        border-radius: 20px;\n        font-size: 0.75rem;\n        font-weight: 600;\n        text-transform: uppercase;\n      }\n      .high-priority .priority, .priority-high .priority { background-color: #e74c3c; color: white; }\n      .medium-priority .priority, .priority-medium .priority { background-color: #f39c12; color: white; }\n      .low-priority .priority, .priority-low .priority { background-color: #3498db; color: white; }\n\n      /* Price Gap Heatmap */\n      .heatmap { margin-top: 20px; }\n      .gap {\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        padding: 12px 16px;\n        margin: 8px 0;\n        border-radius: 6px;\n        font-weight: 500;\n      }\n      .gap span:last-child { font-weight: 600; }\n      .gap.hot { background-color: #fde8e8; color: #991b1b; }\n      .gap.warm { background-color: #fef3c7; color: #92400e; }\n      .gap.moderate { background-color: #fef9c3; color: #854d0e; }\n      .gap.cool { background-color: #d1fae5; color: #065f46; }\n      .gap.open { background-color: #d1fae5; color: #065f46; }\n\n      /* Recommendation Cards */\n      .rec-cards { display: grid; gap: 1rem; margin-top: 1rem; }\n      .rec-meta { display: flex; gap: 1rem; align-items: center; margin-top: 1rem; padding-top: 1rem; border-top: 1px solid var(--gray-100); }\n      .impact { color: var(--gray-500); font-size: 0.875rem; }\n\n      /* Insights Box */\n      .insights, .rationale {\n        background-color: var(--gray-50);\n        padding: 12px 16px;\n        border-radius: 6px;\n        margin-top: 12px;\n        font-size: 0.9rem;\n        border-left: 3px solid var(--primary-light);\n      }\n\n      /* Footer */\n      .report-footer { background: var(--gray-100); padding: 1.5rem 3rem; text-align: center; font-size: 0.875rem; color: var(--gray-500); }\n    </style>\n</head>\n<body>\n  <div class=\"report-container\">\n    <header class=\"report-header\">\n      <h1>Competitor Analysis Report</h1>\n      <p class=\"subtitle\">${category} - Wayfair vs Amazon vs Walmart</p>\n    </header>\n    <main class=\"report-content\">\n      ${execSummary}\n      ${scopeHtml}\n      ${amazonAnalysis}\n      ${comparison}\n      ${pricingWhitespace}\n      ${recommendations}\n      ${supplierIdentification}\n    </main>\n    <footer class=\"report-footer\">\n      <p>Generated on ${new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })} | Wayfair Competitive Intelligence</p>\n    </footer>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    output: fullHtml,\n    sections: {\n      scope: !!scopeHtml,\n      executive: !!execSummary,\n      amazon: !!amazonAnalysis,\n      comparison: !!comparison,\n      pricing: !!pricingWhitespace,\n      recommendations: !!recommendations\n    },\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        -80
      ],
      "id": "04c58df1-7b9b-497f-98b2-d27089882be2",
      "name": "HTML Assembler"
    },
    {
      "parameters": {
        "jsCode": "// === INPUT: Raw LLM output (string) from previous node ===\nlet html = $input.first().json.output || \"\";\n\n// 1. Remove Markdown code fences\nhtml = html.replace(/```html|```/g, \"\").trim();\n\n// 2. Un-escape newlines / tabs / carriage returns and collapse excess whitespace\nhtml = html\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\\\t/g, \"\\t\")\n  .replace(/\\\\r/g, \"\")\n  .replace(/\\s{2,}/g, \" \")          // multiple spaces → one space\n  .replace(/\\n\\s*\\n/g, \"\\n\")        // blank lines → single newline\n  .trim();\n\n// 3. Remove any duplicate/malformed wrappers that the LLM might have added\nhtml = html\n  .replace(/<\\/?(html|body)>/gi, \"\")   // strip stray <html>/<body>\n  .replace(/<!DOCTYPE\\s+html?>/gi, \"\") // strip stray doctype\n  .trim();\n\n// 4. Ensure a **single** valid HTML5 skeleton\nif (!/<!DOCTYPE\\s+html/i.test(html)) {\n  html = \"<!DOCTYPE html>\\n\" + html;\n}\nif (!/<html[\\s>]/i.test(html)) {\n  html = html.replace(/^/, \"<html lang=\\\"en\\\">\\n\");\n}\nif (!/<body[\\s>]/i.test(html)) {\n  html = html.replace(/^(.*?)<html[^>]*>/i, \"$1<html lang=\\\"en\\\"><body>\\n\");\n  html += \"\\n</body>\";\n}\nif (!/<\\/html>/i.test(html)) {\n  html += \"\\n</html>\";\n}\n\n// 5. Light minify – keep all styles, just remove empty lines between tags\nhtml = html.replace(/>\\n\\s*</g, \"><\");\n\n// === OUTPUT: Clean, untouched-style HTML ===\nreturn [{\n  json: {\n    cleaned_html: html,                     // full readable HTML (preserves all CSS)\n    minified_html: html.replace(/\\s+/g, \" \"),// optional one-liner version\n    agent_id: 3,\n    debug: {\n      original_length: ($input.first().json.output || \"\").length,\n      cleaned_length: html.length,\n      fences_removed: true,\n      wrappers_fixed: true\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5248,
        -80
      ],
      "id": "157cdd66-4667-4a46-a5f8-c775064feed7",
      "name": "Clean AI output"
    },
    {
      "parameters": {
        "jsCode": "// Create downloadable HTML file\nconst html = $input.first().json.minified_html || $input.first().json.cleanedHtml || $input.first().json.html || '';\nconst category = $('Input Parser').first().json.categoryDisplayName || 'Rug';\n\n// Generate filename matching P2's pattern: <category_slug>_competitor_report_<YYYY-MM-DD>.html\nconst dateStr = new Date().toISOString().split('T')[0];\nconst categorySlug = category.toLowerCase().replace(/\\s+/g, '_');\nconst fileName = `${categorySlug}_competitor_report_${dateStr}.html`;\n\n// Create binary data for download\nconst buffer = Buffer.from(html, 'utf8');\n\nreturn [{\n  json: {\n    fileName: fileName,\n    category: category,\n    generatedAt: new Date().toISOString()\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5456,
        -80
      ],
      "id": "eed2e034-2421-4506-905b-8cca9d991e12",
      "name": "Download HTML file from Here"
    },
    {
      "parameters": {
        "html": "{{ $json.cleaned_html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        5664,
        -80
      ],
      "id": "1372735b-c219-4cda-be07-8eba594057f9",
      "name": "See HTML output here"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parser": {
      "main": [
        [
          {
            "node": "Fetch Wayfair Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Amazon Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Walmart Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Wayfair Products": {
      "main": [
        [
          {
            "node": "Reshape Wayfair Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Amazon Products": {
      "main": [
        [
          {
            "node": "Reshape Amazon Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Walmart Products": {
      "main": [
        [
          {
            "node": "Reshape Walmart Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reshape Wayfair Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reshape Amazon Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Reshape Walmart Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Scope Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scope Generator": {
      "main": [
        [
          {
            "node": "Wait After Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Scope": {
      "main": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Executive Summary Generator": {
      "main": [
        [
          {
            "node": "Wait After Executive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Executive": {
      "main": [
        [
          {
            "node": "Amazon Analysis Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Amazon Analysis Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Amazon Analysis Generator": {
      "main": [
        [
          {
            "node": "Wait after Amazon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait after Amazon": {
      "main": [
        [
          {
            "node": "Comparison Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Comparison Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Comparison Generator": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Pricing & Whitespace Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Pricing & Whitespace Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pricing & Whitespace Generator": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Recommendations Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Recommendations Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recommendations Generator": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Supplier Identification Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Supplier Identification Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supplier Identification Generator": {
      "main": [
        [
          {
            "node": "HTML Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Assembler": {
      "main": [
        [
          {
            "node": "Clean AI output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean AI output": {
      "main": [
        [
          {
            "node": "Download HTML file from Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download HTML file from Here": {
      "main": [
        [
          {
            "node": "See HTML output here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2d8b76cc-d847-4e3d-af5c-124e72cf990d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf77233f1e2b743192a1f495c3c98ca584edd6ad93234c59b8044e32ecc43e2e"
  },
  "nodeGroups": [],
  "id": "05Xe7YojHlH6BQw7",
  "tags": []
}