Consumer Trend Discovery AI Agent Workflow.json
{
  "name": "Consumer Trend Discovery AI Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "e6284f6d-f6a2-46c5-9634-e6d9dc11f22a",
      "name": "When chat message received",
      "webhookId": "0471c5aa-1547-4824-b676-22fb8a93adf4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "254be88c-ff76-47c2-b025-4dba62f3ddce",
              "leftValue": "={{ $json.hasValidInput }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "7bbc4238-ae20-4800-b5d5-2cafc89d3474",
      "name": "Category Validator1"
    },
    {
      "parameters": {
        "jsCode": "// Error response - handles multiple failure modes\nconst input = $input.first().json;\nconst reason = input.errorReason || 'unknown';\n\nlet errorMsg;\nif (reason === 'no_category') {\n  errorMsg = 'I could not detect a category. Please include one of:\\n- Area Rug\\n- Outdoor Rug\\n- Hallway Runner\\n- Shag Rug\\n\\n**Example input:**\\nArea Rug\\nfocus: washable';\n} else if (reason === 'no_products') {\n  errorMsg = 'No products were returned for this category. The pre-scraped dataset may not have refreshed yet, or the program API may be temporarily unavailable. Try again in a few minutes, or contact the program team if this persists.';\n} else {\n  errorMsg = 'An unknown error occurred. Please try again or contact the program team.';\n}\n\nreturn [{ json: { error: true, message: errorMsg, reason } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        704
      ],
      "id": "df186615-1cc4-4684-8541-4fd50da320ab",
      "name": "Error Response1"
    },
    {
      "parameters": {
        "content": "## STAGE 1: INPUT & ROUTING\n\nParses user input to extract\n\n- Category (Area Rug, Outdoor Rug, Hallway Runner, Shag Rug)\n- Optional focus keyword",
        "height": 512,
        "width": 720,
        "color": "#7DBF9A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -208
      ],
      "id": "7ed6c0ab-187d-46f3-abfd-7e101b8c3caa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// STAGE 1: Input Parser (v2 - URLs no longer needed)\n// Extracts category + optional focus from chat input.\n\nconst input = $input.first().json.chatInput || '';\n\n// Define valid categories\nconst categories = [\n  { key: 'area_rug', display: 'Area Rug', patterns: ['area rug', 'area rugs'] },\n  { key: 'outdoor_rug', display: 'Outdoor Rug', patterns: ['outdoor rug', 'outdoor rugs', 'patio rug'] },\n  { key: 'hallway_runner', display: 'Hallway Runner', patterns: ['hallway runner', 'runner rug', 'hall runner', 'runners'] },\n  { key: 'shag_rug', display: 'Shag Rug', patterns: ['shag rug', 'shag rugs', 'shaggy rug'] }\n];\n\nlet selectedCategory = null;\nlet categoryKey = null;\nconst lowerInput = input.toLowerCase();\nfor (const cat of categories) {\n  for (const pattern of cat.patterns) {\n    if (lowerInput.includes(pattern)) {\n      selectedCategory = cat.display;\n      categoryKey = cat.key;\n      break;\n    }\n  }\n  if (selectedCategory) break;\n}\n\n// Optional focus keyword\nconst focusMatch = input.match(/focus\\s*:\\s*([^\\n]+)/i);\nconst focus = focusMatch ? focusMatch[1].trim() : '';\n\nconst hasCategory = !!selectedCategory;\nconst hasValidInput = hasCategory;\n\nreturn [{\n  json: {\n    selectedCategory,\n    categoryKey,\n    focus,\n    hasCategory,\n    hasValidInput,\n    errorReason: hasCategory ? null : 'no_category'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "ad6b44cc-d088-48f0-8cee-910f38b2d525",
      "name": "Input Parser1"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/products/amazon",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('Input Parser1').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "focus",
              "value": "={{ $('Input Parser1').item.json.focus || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        -128
      ],
      "id": "40ae7b70-9830-408d-b0e3-618e38573946",
      "name": "Fetch Amazon Products"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af8a600b-d431-4019-a7d7-f4db3bc7391b",
              "leftValue": "={{ $json.total_products }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -128
      ],
      "id": "ce6bd98a-39d2-4024-925c-2cdc5e11bc92",
      "name": "Has Products ?"
    },
    {
      "parameters": {
        "jsCode": "// Reshape FastAPI response to legacy { amazonProducts } shape\n// expected by Merge All Data1 and downstream Mistral pipeline.\nconst r = $input.first().json;\nconst products = r.products || [];\n\nreturn [{\n  json: {\n    amazonProducts: products.map(p => ({\n      url: p.url,\n      name: p.name,\n      price: p.price,\n      details: p.details || [],\n      pattern: p.pattern || '',\n      image_url: p.image_url || '',\n      rating: p.rating || '',\n      review_count: p.review_count || '',\n      scraped_at: r.scraped_at || new Date().toISOString()\n    })),\n    totalProducts: products.length,\n    scrapedAt: r.scraped_at || new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -144
      ],
      "id": "143407bf-a7b4-425b-9983-27aa9c4880ae",
      "name": "Reshape Amazon Response"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/XVDTQc4a7MDTqSTMJ/input",
          "mode": "url"
        },
        "customBody": "{\n    \"categoryUrls\": [\n        {\n            \"url\": \"https://www.amazon.com/s?k=keyboard\"\n        }\n    ],\n    \"maxItemsPerStartUrl\": 100,\n    \"maxProductVariantsAsSeparateResults\": 0,\n    \"maxSearchPagesPerStartUrl\": 9999,\n    \"scrapeProductDetails\": true,\n    \"scrapeProductVariantPrices\": false,\n    \"useCaptchaSolver\": false\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1744,
        -816
      ],
      "id": "a87ea137-5635-44aa-bc8a-dd3626c203f8",
      "name": "Apify - Amazon Products1",
      "credentials": {
        "apifyApi": {
          "id": "TxwE1i8Dze0sM8QS",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reshape Apify actor output to { amazonProducts } shape\n// expected by Merge All Data1 and downstream Mistral pipeline.\nconst items = $input.all().map(i => i.json);\n\nreturn [{\n  json: {\n    amazonProducts: items.map(p => ({\n      url: p.url || p.productUrl || '',\n      name: p.title || p.name || '',\n      price: p.price || p.priceText || '',\n      details: p.features || p.details || [],\n      pattern: p.pattern || '',\n      image_url: p.image || p.imageUrl || p.thumbnail || '',\n      rating: p.rating || p.starRating || '',\n      review_count: p.reviewsCount || p.reviewCount || '',\n      scraped_at: new Date().toISOString()\n    })),\n    totalProducts: items.length,\n    scrapedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -848
      ],
      "id": "afd1a925-ccda-453c-a995-b8913a3fce4a",
      "name": "Reshape Amazon Response1"
    },
    {
      "parameters": {
        "jsCode": "// Get category key for Extern API calls\nconst categoryKey = $('Input Parser1').first().json.categoryKey;\nconst selectedCategory = $('Input Parser1').first().json.selectedCategory;\n\nreturn [{\n  json: {\n    categoryKey: categoryKey || 'area_rug',\n    selectedCategory: selectedCategory || 'Area Rug'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        752
      ],
      "id": "b3dad925-b8ec-4846-8582-57260933de51",
      "name": "Get Category Key"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/instagram",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{$json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        272
      ],
      "id": "12f1ea42-e1f5-4ff3-87b0-85085e72736c",
      "name": "Fetch Instagram"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/pinterest",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cateegory",
              "value": "=={{ $('Get Category Key').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        432
      ],
      "id": "d39286c1-8fee-42bb-bf20-40b36a0e93b8",
      "name": "Fetch Pinterest"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/blogs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "=={{ $('Get Category Key').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        592
      ],
      "id": "a408a650-9c1b-448b-9d15-a459142bdc34",
      "name": "Fetch Blogs"
    },
    {
      "parameters": {
        "url": "http://34.196.186.128:8000/api/trends/blogs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "=={{ $('Get Category Key').item.json.categoryKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "blog_type",
              "value": "market"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        752
      ],
      "id": "9b20a15b-11e5-41a4-bcfe-59c6dc810ffb",
      "name": "Fetch Market Data"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        480
      ],
      "id": "b8109d2d-8bb7-468c-a89f-7f8a8916faa0",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## STAGE 2B: EXTERN API + IMAGE ANALYSIS\n\nCalls FastAPI server for social data:\n\n- Instagram trends (with images)\n- Pinterest boards (with images)\n- Blog Posts (text-only)\n\n\nGemini Vision analyzes social images:\n- Extracts colors, patterns, styles\n- Identifies textures and moods\n- Provides visual trend summary\n\nHandles API failures",
        "height": 704,
        "width": 1264,
        "color": "#BAA0A0"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        208
      ],
      "id": "14e30a7a-da9e-4d17-bbaf-7e9c1e7b68e3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Merge all social data from Extern API (with image support)\nlet instagram = { items: [] };\nlet pinterest = { items: [] };\nlet blogs = { items: [] };\n\ntry {\n  instagram = $('Fetch Instagram').first().json || { items: [] };\n} catch (e) { instagram = { items: [] }; }\n\ntry {\n  pinterest = $('Fetch Pinterest').first().json || { items: [] };\n} catch (e) { pinterest = { items: [] }; }\n\ntry {\n  blogs = $('Fetch Blogs').first().json || { items: [] };\n} catch (e) { blogs = { items: [] }; }\n\n// Extract images for analysis (limit to 2-3 per source)\nconst extractImages = (items, source, limit = 3) => {\n  return (items || [])\n    .filter(item => item.image_base64)\n    .slice(0, limit)\n    .map(item => ({\n      source: source,\n      id: item.id,\n      caption: item.caption || '',\n      image_base64: item.image_base64,\n      mime_type: item.image_mime_type || 'image/jpeg'\n    }));\n};\n\nconst socialImages = [\n  ...extractImages(instagram.items, 'instagram', 3),\n  ...extractImages(pinterest.items, 'pinterest', 3)\n];\n\nreturn [{\n  json: {\n    socialData: {\n      instagram: instagram.items || [],\n      pinterest: pinterest.items || [],\n      blogs: blogs.items || []\n    },\n    socialImages: socialImages,\n    totalSocialItems: (instagram.items?.length || 0) + (pinterest.items?.length || 0) + (blogs.items?.length || 0),\n    totalSocialImages: socialImages.length,\n    externApiStatus: {\n      instagram: instagram.items?.length > 0 ? 'success' : 'empty_or_failed',\n      pinterest: pinterest.items?.length > 0 ? 'success' : 'empty_or_failed',\n      blogs: blogs.items?.length > 0 ? 'success' : 'empty_or_failed'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        480
      ],
      "id": "0d8ad0ad-2921-44f5-86f6-c61e725f6240",
      "name": "Merge Social Data1"
    },
    {
      "parameters": {
        "jsCode": "// Extract captions and hashtags from social data as visual trend signals\n  const socialData = $('Merge Social Data1').first().json.socialData;\n\n  const instagram = socialData?.instagram || [];\n  const pinterest = socialData?.pinterest || [];\n\n  // Combine all captions and hashtags\n  const instagramInsights = instagram.map(post => ({\n    source: 'instagram',\n    caption: post.caption || '',\n    hashtags: post.hashtags || [],\n    engagement: post.engagement || 0\n  }));\n\n  const pinterestInsights = pinterest.map(pin => ({\n    source: 'pinterest',\n    caption: pin.caption || '',\n    hashtags: pin.hashtags || [],\n    engagement: pin.engagement || 0\n  }));\n\n  const allInsights = [...instagramInsights, ...pinterestInsights];\n\n  // Extract all hashtags for trend analysis\n  const allHashtags = allInsights.flatMap(item => item.hashtags);\n  const hashtagCounts = {};\n  allHashtags.forEach(tag => {\n    hashtagCounts[tag] = (hashtagCounts[tag] || 0) + 1;\n  });\n\n  // Sort hashtags by frequency\n  const topHashtags = Object.entries(hashtagCounts)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 20)\n    .map(([tag, count]) => ({ tag, count }));\n\n  // Combine all captions for trend keywords\n  const allCaptions = allInsights.map(item => item.caption).join(' ');\n\n  return [{\n    json: {\n      imageAnalysis: {\n        trend_summary: {\n          top_hashtags: topHashtags,\n          total_posts_analyzed: allInsights.length,\n          instagram_count: instagram.length,\n          pinterest_count: pinterest.length,\n          caption_insights: allCaptions.substring(0, 2000) // Limit length\n        },\n        source: 'social_captions_and_hashtags'\n      },\n      socialImages: allInsights,\n      analysisSuccess: true,\n      reason: 'Using social captions and hashtags for trend analysis'\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        480
      ],
      "id": "3673ab68-c2c7-4d32-bd6e-98878c04f3ee",
      "name": "Merge Image Analysis"
    },
    {
      "parameters": {
        "content": "## STAGE 2A: AMAZON PRODUCTS\n\nSingle API call to FastAPI server (/api/products/amazon)\n\nThe server returns upto 10 pre-scraped Amazon products for the selected category\n\nIf the API returns 0 products (rare), the workflow short-circuits with a clear error message",
        "height": 368,
        "width": 720,
        "color": "#B5ADC7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -288
      ],
      "id": "2c282a69-a55d-4c90-ab73-f1cad1bc4485",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        704
      ],
      "id": "da51e96e-bec4-4c04-a6cb-3ef88e14ff58",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2720,
        -128
      ],
      "id": "ed021102-a673-4e26-a84d-e137f4e73e7d",
      "name": "Merge All Data1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3024,
        -128
      ],
      "id": "18433a7d-2e13-4690-a010-deee41943125",
      "name": "Wait2",
      "webhookId": "5c99e523-785b-4123-83e2-0c8f757081a3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=PRODUCTS TO CLASSIFY:\n{{ JSON.stringify($json.amazonProducts, null, 2) }}\n\nSELECTED CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\nCATEGORY KEY: {{ $('Input Parser1').first().json.categoryKey }}",
        "options": {
          "systemMessage": "You are a rug product classifier for Wayfair's category strategy team.\n\nYour task: Analyze Amazon product data and determine if each product belongs to the SELECTED CATEGORY.\n\nCATEGORY DEFINITIONS:\n\n**Area Rug (area_rug):**\n- Movable floor covering for a specific room section\n- Sizes: Small (3'x5'), Medium (5'x8'), Large (8'x10'), XL (10'x14'+)\n- Materials: Wool, cotton, jute, polyester, polypropylene\n- NOT: wall-to-wall carpet, outdoor rugs, runners, bath/kitchen rugs\n\n**Outdoor Rug (outdoor_rug):**\n- Weather-resistant for exterior/semi-exterior spaces\n- Materials: Polypropylene, polyester, PET, synthetic blends\n- Thinner profile (~4-12mm), quick-drying\n- NOT: indoor-only, thick/plush, water-absorbent\n\n**Hallway Runner (hallway_runner):**\n- Long, narrow rug for pathways\n- Width: 2'-3', Length: 6'-14'+\n- Low to medium pile for safe walking\n- NOT: area rugs, square/round shapes, high-pile\n\n**Shag Rug (shag_rug):**\n- High-pile (above 1 inch/25mm), plush texture\n- Materials: Polyester, wool, microfiber, acrylic\n- For comfort, bedrooms, lounging areas\n- NOT: low-pile, flatweave, high-traffic rugs\n\nCLASSIFICATION RULES:\n1. Analyze product name, details, and specifications\n2. Determine if product matches the SELECTED category\n3. Mark as \"match\" if it fits, \"no_match\" if it doesn't, \"uncertain\" if unclear\n4. Consider: pile height, dimensions (runners are long/narrow), materials, intended placement\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"selected_category\": \"the category user selected\",\n  \"classifications\": [\n    {\n      \"url\": \"product url\",\n      \"name\": \"product name\",\n      \"match_status\": \"match|no_match|uncertain\",\n      \"confidence\": \"high|medium|low\",\n      \"reasoning\": \"Brief explanation why it does or doesn't match\"\n    }\n  ],\n  \"summary\": {\n    \"total\": 0,\n    \"matches\": 0,\n    \"no_matches\": 0,\n    \"uncertain\": 0\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3232,
        -128
      ],
      "id": "8495e380-bc16-468a-aa36-12aac8c6da61",
      "name": "Judge Product Category"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3104,
        80
      ],
      "id": "22ca9b86-75bf-4a1b-93a2-b7fd20a57977",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Br3P4kvHtLwPUxgZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter products to only those matching the selected category\nlet output = $input.first().json.output;\n\n// Parse AI output (handle markdown code blocks if present)\nif (typeof output === 'string') {\n  output = output.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    return [{ json: { error: 'Failed to parse classifier output', filteredProducts: [] } }];\n  }\n}\n\nconst classifications = output.classifications || [];\nconst amazonProducts = $('Reshape Amazon Response').first().json.amazonProducts || [];\n\n// Filter to only matching products\nconst matchingUrls = new Set(\n  classifications\n    .filter(c => c.match_status === 'match' && c.confidence !== 'low')\n    .map(c => c.url)\n);\n\nconst filteredProducts = amazonProducts\n  .filter(p => matchingUrls.has(p.url))\n  .map(p => {\n    const classification = classifications.find(c => c.url === p.url);\n    return {\n      ...p,\n      classification_reasoning: classification?.reasoning || ''\n    };\n  });\n\nreturn [{\n  json: {\n    filteredProducts: filteredProducts,\n    totalFiltered: filteredProducts.length,\n    classificationSummary: output.summary || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        64
      ],
      "id": "32edde41-f4d8-4f4d-88e2-44a573c9d1ec",
      "name": "Remove Invalid Products"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        64
      ],
      "id": "c6f45757-6341-4172-8fa6-c74f9a07be39",
      "name": "Wait1",
      "webhookId": "a2b662da-6260-4361-9096-0b93320565da"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3872,
        272
      ],
      "id": "8efdf006-d67e-4969-b911-3ab62f10ea20",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "Br3P4kvHtLwPUxgZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FILTERED PRODUCTS:\n{{ JSON.stringify($json.filteredProducts, null, 2) }}",
        "options": {
          "systemMessage": "You are a product attribute extraction specialist for rug market analysis.\n\nFor each rug product, extract and NORMALIZE these attributes:\n\n1. SIZE: Convert to standard format \"X'×Y'\" (e.g., \"5'×8'\", \"2'×10'\")\n   - Map variants: \"5x7\" → \"5'×7'\", \"6 by 9\" → \"6'×9'\"\n   - For runners: emphasize length (e.g., \"2'×8'\")\n\n2. COLOR: Primary color family\n   - Options: Cream, White, Gray, Charcoal, Beige, Taupe, Brown, Blue, Navy, Teal, Green, Red, Orange, Pink, Purple, Multi, Black, Gold\n\n3. MATERIAL: Primary fiber\n   - Options: Wool, Cotton, Jute, Polyester, Polypropylene, Nylon, Viscose, Microfiber, Blend, Synthetic\n\n4. PATTERN: Visual pattern type\n   - Options: Solid, Geometric, Floral, Abstract, Medallion, Striped, Moroccan, Distressed, Braided, Textured, Oriental, Tribal, Chevron, Trellis\n\n5. STYLE: Design aesthetic\n   - Options: Modern, Traditional, Transitional, Bohemian, Farmhouse, Coastal, Minimalist, Vintage, Contemporary, Industrial, Mid-Century\n\n6. PILE_HEIGHT: Texture category\n   - Options: Flatweave, Low-pile, Medium-pile, High-pile, Shag\n\n7. PRICE_BUCKET:\n   - Under $50, $50-100, $100-200, $200-500, $500+\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"products\": [\n    {\n      \"url\": \"...\",\n      \"name\": \"...\",\n      \"attributes\": {\n        \"size\": \"5'×8'\",\n        \"color\": \"Gray\",\n        \"material\": \"Polyester\",\n        \"pattern\": \"Geometric\",\n        \"style\": \"Modern\",\n        \"pile_height\": \"Low-pile\",\n        \"price_bucket\": \"$100-200\"\n      }\n    }\n  ],\n  \"summary\": {\n    \"top_sizes\": [\"5'×8'\", \"8'×10'\"],\n    \"top_colors\": [\"Gray\", \"Cream\", \"Blue\"],\n    \"top_materials\": [\"Polyester\", \"Polypropylene\"],\n    \"top_patterns\": [\"Geometric\", \"Distressed\"],\n    \"top_styles\": [\"Modern\", \"Transitional\"],\n    \"price_distribution\": {\"Under $50\": 2, \"$50-100\": 5, \"$100-200\": 8}\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4000,
        64
      ],
      "id": "9afbc8b9-8124-4c3e-a535-192f4c2f3b94",
      "name": "Standardize Details"
    },
    {
      "parameters": {
        "jsCode": "// Parse attribute extraction output\nlet output = $input.first().json.output;\n\nif (typeof output === 'string') {\n  output = output.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    return [{ json: { error: 'Failed to parse attributes', attributeData: null } }];\n  }\n}\n\nreturn [{\n  json: {\n    attributeData: output,\n    products: output.products || [],\n    summary: output.summary || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        64
      ],
      "id": "ca264659-888f-4a57-8b84-bded1793d5b7",
      "name": "Save Standardized Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        64
      ],
      "id": "90bd58eb-c9b2-4cd4-82e6-77932c157fe2",
      "name": "Wait",
      "webhookId": "41419f78-d046-45b1-a93e-1d67c8fb06f2"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4640,
        272
      ],
      "id": "7abd9fd1-b58b-4f5c-85f9-07d4bc37bcbc",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "Br3P4kvHtLwPUxgZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nPRODUCT ATTRIBUTES:\n{{ JSON.stringify($json.attributeData, null, 2) }}\n\nSOCIAL DATA (text signals):\n{{ JSON.stringify({ instagram: ($('Merge Social Data1').first().json.socialData.instagram || []).map(i => ({ id: i.id, caption: i.caption, hashtags: i.hashtags })), pinterest: ($('Merge Social Data1').first().json.socialData.pinterest || []).map(p => ({ id: p.id, title: p.title, description: p.description})), blogs: ($('Merge Social Data1').first().json.socialData.blogs || []).map(b => ({ id: b.id, title: b.title, summary: b.summary, key_trends: b.key_trends })) }, null, 2) }}\n\nVISUAL TREND ANALYSIS (from Instagram/Pinterest images):\n{{ JSON.stringify($('Merge Image Analysis').first().json.imageAnalysis, null, 2) }}",
        "options": {
          "systemMessage": "You are a trend analyst identifying style micro-segments within a rug category.\n\nINPUTS:\n- Product data with extracted attributes\n- Social media signals (Instagram captions, Pinterest boards, blog trends)\n- VISUAL TREND ANALYSIS from AI-analyzed Instagram/Pinterest images (colors, patterns, styles, textures, moods)\n\nTASK:\nIdentify 2-3 distinct STYLE MICRO-SEGMENTS within this category.\n\nIMPORTANT: Heavily weight the VISUAL TREND ANALYSIS data - it contains AI-extracted insights from real trending images including dominant colors, patterns, styles, and overall aesthetic direction. Use this to ground your micro-segments in actual visual trends.\n\nA micro-segment is a specific aesthetic direction with:\n- Clear visual identity (informed by image analysis)\n- Consistent color palette (use colors from visual analysis)\n- Common materials/textures (match textures seen in images)\n- Target use case\n\nEXAMPLES OF MICRO-SEGMENTS:\n- \"Vintage Distressed Medallion\" - antique-look, faded patterns, neutral tones\n- \"Modern Geometric Minimalist\" - clean lines, monochromatic, low-pile\n- \"Bohemian Textured\" - layered textures, warm earth tones, natural fibers\n- \"Coastal Casual\" - blues, whites, natural jute, relaxed aesthetic\n- \"Farmhouse Braided\" - traditional braided look, warm neutrals, rustic charm\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"micro_segments\": [\n    {\n      \"name\": \"Segment Name\",\n      \"description\": \"2-3 sentence description of the aesthetic and why it's trending\",\n      \"visual_characteristics\": [\"characteristic 1\", \"characteristic 2\", \"characteristic 3\"],\n      \"color_palette\": [\"color1\", \"color2\", \"color3\"],\n      \"typical_materials\": [\"material1\", \"material2\"],\n      \"target_rooms\": [\"living room\", \"bedroom\"],\n      \"price_positioning\": \"value|mid-range|premium\",\n      \"trend_signals\": [\"evidence from visual analysis\", \"evidence from product data\", \"evidence from social captions\"],\n      \"image_prompt_keywords\": [\"keyword1\", \"keyword2\", \"keyword3\", \"keyword4\"]\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4768,
        64
      ],
      "id": "d7b4a364-49f6-46a7-908e-4ed9a18777c1",
      "name": "Identify Top Trends"
    },
    {
      "parameters": {
        "jsCode": "// Parse micro-segment output\nlet output = $input.first().json.output;\n\nif (typeof output === 'string') {\n  output = output.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    // Create default segments if parsing fails\n    output = {\n      micro_segments: [\n        {\n          name: 'Classic Neutral',\n          description: 'Timeless neutral tones with subtle patterns',\n          visual_characteristics: ['neutral colors', 'subtle patterns', 'versatile design'],\n          color_palette: ['Cream', 'Gray', 'Beige'],\n          typical_materials: ['Polyester', 'Polypropylene'],\n          target_rooms: ['living room', 'bedroom'],\n          price_positioning: 'mid-range',\n          trend_signals: ['Based on product data analysis'],\n          image_prompt_keywords: ['neutral rug', 'modern interior', 'cozy living room']\n        }\n      ]\n    };\n  }\n}\n\nconst segments = output.micro_segments || [];\n\nreturn [{\n  json: {\n    microSegments: segments,\n    segmentCount: segments.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        64
      ],
      "id": "38aba3aa-8dbc-4244-8998-49005e3cf85f",
      "name": "Save Trend List"
    },
    {
      "parameters": {
        "jsCode": "// Split micro-segments for individual image generation\nconst segments = $input.first().json.microSegments || [];\n\nif (segments.length === 0) {\n  return [{ json: { segment: null, skip: true } }];\n}\n\nreturn segments.map(segment => ({ json: { segment } }));\n "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5328,
        64
      ],
      "id": "8020682b-7f33-443e-83ee-8e26e9feea45",
      "name": "Split Segments for Images"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0699ceed-1ce2-4faf-9a22-b801500cf487",
              "leftValue": "={{ !!$json.segment }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5536,
        64
      ],
      "id": "1e2e75ba-cc41-4219-8430-273278499a42",
      "name": "Check Segment Exists"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5952,
        -32
      ],
      "id": "329b7b60-1da3-4617-ae6d-0aa9ef6c2499",
      "name": "Wait3",
      "webhookId": "12072316-0ed9-4525-8929-64a979313fd9"
    },
    {
      "parameters": {
        "content": "## STAGE 3: AI PROCESSING\n\nStructuring the Scraped Data with AI Agents\n\n1. Judge Product Category (OpenRouter AI Agent) - Filters products to match selected category\n2. Standardize Details (OpenRouter AI Agent) - Normalizes size, color, material, pattern, style, price\n3. Identify Top Trends (OpenRouter AI Agent) - Finalizes 2-3 style micro-segments\n\nFree-tier model handles the JSON classification work\nQuality-sensitive HTML generation happens later in Stage 5 using Mistral",
        "height": 1072,
        "width": 2784,
        "color": "#EBF8BF"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2960,
        -432
      ],
      "id": "4fd01ce0-dd12-43ff-b931-d94f3ae07963",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MICRO-SEGMENT:\nName: {{ $json.segment.name }}\nDescription: {{ $json.segment.description }}\nVisual Characteristics: {{ $json.segment.visual_characteristics.join(', ') }}\nColor Palette: {{ $json.segment.color_palette.join(', ') }}\nMaterials: {{ $json.segment.typical_materials.join(', ') }}\nTarget Rooms: {{ $json.segment.target_rooms.join(', ') }}\nKeywords: {{ $json.segment.image_prompt_keywords.join(', ') }}\n\nRUG CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}",
        "options": {
          "systemMessage": "You are an expert image generation prompt engineer specializing in interior design photography and moodboards.\n\nCreate a detailed prompt for generating a photorealistic moodboard image showcasing this rug style.\n\nThe image should feature:\n1. A beautiful, realistic interior room setting appropriate for the rug style\n2. The rug as the clear focal point, showing its pattern, texture, and colors\n3. Complementary furniture and decor that enhances the rug's aesthetic\n4. Natural, warm lighting that highlights textures\n5. Professional interior photography composition\n\nPROMPT REQUIREMENTS:\n- Write as a single flowing paragraph\n- Be specific about colors (use exact color names)\n- Describe materials and textures in detail\n- Include the room type and atmosphere\n- Mention lighting quality\n- Keep under 150 words\n- Do NOT use bullet points or lists\n- Do NOT include any markdown formatting\n\nOUTPUT: Only the prompt text, nothing else. No quotes, no explanations, no labels."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6160,
        -32
      ],
      "id": "f5e72b5b-7341-432e-b849-7526fad06fae",
      "name": "Generate Image Prompt"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6032,
        176
      ],
      "id": "03553e63-745f-4590-974a-ce38b50c4c2a",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "Br3P4kvHtLwPUxgZ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean prompt for Hugging Face API\nlet inputPrompt = $input.first().json.output || '';\nconst segmentName = $input.first().json.segment?.name || 'Style';\n\n// Remove line breaks\nlet cleanPrompt = inputPrompt.split(/\\r?\\n/).join(' ');\n\n// Remove Markdown formatting\ncleanPrompt = cleanPrompt.replace(/\\*\\*/g, '').replace(/\\*/g, '');\n\n// Replace double quotes with single quotes\ncleanPrompt = cleanPrompt.replace(/\"/g, \"'\");\n\n// Remove extra whitespace\ncleanPrompt = cleanPrompt.replace(/\\s+/g, ' ').trim();\n\n// Add quality boosters if not present\nif (!cleanPrompt.toLowerCase().includes('professional')) {\n  cleanPrompt = 'Professional interior design photography, ' + cleanPrompt;\n}\nif (!cleanPrompt.toLowerCase().includes('high quality')) {\n  cleanPrompt += ', high quality, detailed textures, natural lighting';\n}\n\nreturn [{\n  json: {\n    prompt: cleanPrompt,\n    segmentName: segmentName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6512,
        -32
      ],
      "id": "31e061ab-4dbb-4572-aae7-c510244274ce",
      "name": "Clean Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <HUGGINGFACE_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"inputs\": \"{{ $json.prompt }}\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6720,
        -32
      ],
      "id": "4f79fe90-b206-479a-9bd9-c551df9ecc8f",
      "name": "Generate Image (HuggingFace)"
    },
    {
      "parameters": {
        "jsCode": "// Encode image to base64 for HTML embedding\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const segmentName = item.json.segmentName || 'Style';\n\n  // Check if we have binary data\n  if (item.binary && item.binary.data) {\n    try {\n      // Use n8n helper to get actual binary buffer (not the filesystem pointer)\n      const binaryBuffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n      const base64String = binaryBuffer.toString('base64');\n      \n      results.push({\n        json: {\n          segmentName: segmentName,\n          base64Image: base64String,\n          mimeType: item.binary.data.mimeType || 'image/png',\n          hasImage: true\n        }\n      });\n    } catch (error) {\n      results.push({\n        json: {\n          segmentName: segmentName,\n          base64Image: null,\n          mimeType: null,\n          hasImage: false,\n          error: 'Failed to encode: ' + error.message\n        }\n      });\n    }\n  } else {\n    results.push({\n      json: {\n        segmentName: segmentName,\n        base64Image: null,\n        mimeType: null,\n        hasImage: false,\n        error: 'No binary data returned'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6928,
        -32
      ],
      "id": "2100a602-db19-4d8d-9992-9b0ac55ac2d1",
      "name": "Encode to Base"
    },
    {
      "parameters": {
        "content": "## STAGE 4: IMAGE GENERATION\n\nGenerating Trend Images from AI Micro-Segments\n\nFor each micro-segment:\n\n1. Generate Image Prompt (OpenRouter / DeepSeek free)\n2. Clean Prompt\n3. Hugging Face FLUX.1-schnell\n4. Encode to base64 for HTML embedding",
        "height": 816,
        "width": 1216,
        "color": "#F9B8E1"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5856,
        -432
      ],
      "id": "8dd61682-643a-44e2-b4d4-87a090e0d18c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Collect all generated images\nconst allImages = $input.all().map(item => ({\n  segmentName: item.json.segmentName,\n  base64Image: item.json.base64Image,\n  mimeType: item.json.mimeType || 'image/png',\n  hasImage: item.json.hasImage || false\n}));\n\nconst validImages = allImages.filter(img => img.hasImage && img.base64Image);\n\nreturn [{\n  json: {\n    generatedImages: validImages,\n    totalImages: validImages.length,\n    failedImages: allImages.length - validImages.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7152,
        -32
      ],
      "id": "342cada6-c6cb-4f01-9862-a8a284ad88df",
      "name": "Collect All Images"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=BLOG CONTENT:\n{{ JSON.stringify($('Merge Social Data1').first().json.socialData.blogs, null, 2) }}\n\nCATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}",
        "options": {
          "systemMessage": "You are a domain expert extracting structured knowledge from home decor blog articles.\n\nTASK: Analyze the blog content and extract key expertise relevant to the rug category specified.\n\nExtract the following structured knowledge:\n\n1. MATERIAL EXPERTISE\n   - Best materials for this rug type and why\n   - Pros and cons of each material\n   - Durability ratings\n   - Care requirements by material\n\n2. SIZING GUIDE\n   - Room-by-room size recommendations\n   - Furniture placement rules\n   - Common sizing mistakes to avoid\n\n3. STYLE & TREND INSIGHTS\n   - Current design trends mentioned\n   - Color palette recommendations\n   - Pattern advice\n   - Style matching guidance\n\n4. BUYER GUIDANCE\n   - Key purchase considerations\n   - Quality indicators to look for\n   - Price-to-quality expectations\n   - Common buyer mistakes\n\n5. CARE & MAINTENANCE\n   - Cleaning recommendations\n   - Longevity tips\n   - When to replace\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"materials\": {\n    \"recommendations\": [\"material1 - reason\", \"material2 - reason\"],\n    \"durability\": {\"wool\": \"high\", \"polyester\": \"medium\"},\n    \"care_needs\": {\"wool\": \"professional cleaning\", \"polyester\": \"machine washable\"}\n  },\n  \"sizing\": {\n    \"living_room\": \"8x10 or 9x12 for most rooms\",\n    \"bedroom\": \"5x8 beside bed or 8x10 under bed\",\n    \"dining\": \"extend 24 inches beyond table\",\n    \"rules\": [\"Leave 12-18 inches from walls\", \"Front legs of furniture on rug\"]\n  },\n  \"style_insights\": {\n    \"trending\": [\"natural fibers\", \"vintage distressed\", \"neutral palettes\"],\n    \"color_advice\": \"Neutral palettes dominate...\",\n    \"pattern_tips\": \"Geometric patterns for modern, medallion for traditional\"\n  },\n  \"buyer_guidance\": {\n    \"quality_indicators\": [\"knots per inch\", \"pile density\", \"backing quality\"],\n    \"considerations\": [\"traffic level\", \"pets\", \"allergies\", \"sunlight exposure\"],\n    \"price_tiers\": {\"budget\": \"$50-150\", \"mid\": \"$150-400\", \"premium\": \"$400+\"}\n  },\n  \"care\": {\n    \"cleaning\": \"Vacuum weekly, deep clean annually\",\n    \"maintenance\": [\"rotate every 6 months\", \"use rug pad\", \"blot spills immediately\"],\n    \"lifespan\": \"5-15 years depending on material and traffic\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7344,
        -32
      ],
      "id": "f4703883-4f33-4c27-8485-090128c44118",
      "name": "Blog Knowledge Extractor"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        7216,
        176
      ],
      "id": "8a971b91-cebe-4bad-86be-dfbdb05a041a",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Blog Knowledge output\nvar output = $input.first().json.output;\n\nif (typeof output === 'string') {\n  // Remove markdown code fences\n  output = output.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try {\n    output = JSON.parse(output);\n  } catch (e) {\n    // Fallback structure if parsing fails\n    output = {\n      materials: { recommendations: [], durability: {}, care_needs: {} },\n      sizing: { rules: [] },\n      style_insights: { trending: [] },\n      buyer_guidance: { quality_indicators: [], considerations: [] },\n      care: { maintenance: [] }\n    };\n  }\n}\n\nreturn [{\n  json: {\n    blogKnowledge: output,\n    extractedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7632,
        -16
      ],
      "id": "5510b3c0-73da-4522-807f-ee900569dff6",
      "name": "Parse Blog Knowledge"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Input Parser1').first().json;\nconst social = $('Merge Social Data1').first().json;\nconst products = $('Remove Invalid Products').first().json;\n\nconst date = new Date().toLocaleDateString();\nconst category = input.selectedCategory || 'Unknown';\nconst categoryKey = input.categoryKey || '';\nconst productCount = products.totalFiltered || 0;\nconst igCount = (social.socialData && social.socialData.instagram) ? social.socialData.instagram.length : 0;\nconst pinCount = (social.socialData && social.socialData.pinterest) ? social.socialData.pinterest.length : 0;\nconst blogCount = (social.socialData && social.socialData.blogs) ? social.socialData.blogs.length : 0;\n\nconst html = '<section class=\"scope-section\">' +\n  '<h2>Scope of Research</h2>' +\n  '<div class=\"scope-grid\">' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">📅</div>' +\n      '<h4>Timeframe</h4>' +\n      '<p>Current market snapshot<br><small>Generated: ' + date + '</small></p>' +\n    '</div>' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">🌍</div>' +\n      '<h4>Market</h4>' +\n      '<p>US Residential<br><small>E-commerce focus</small></p>' +\n    '</div>' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">📊</div>' +\n      '<h4>Data Sources</h4>' +\n      '<ul>' +\n        '<li>Amazon product listings (' + productCount + ' products)</li>' +\n        '<li>Instagram trends (' + igCount + ' posts)</li>' +\n        '<li>Pinterest boards (' + pinCount + ' pins)</li>' +\n        '<li>Industry blogs (' + blogCount + ' articles)</li>' +\n      '</ul>' +\n    '</div>' +\n    '<div class=\"scope-card\">' +\n      '<div class=\"scope-icon\">🎯</div>' +\n      '<h4>Category Focus</h4>' +\n      '<p>' + category + '<br><small>' + categoryKey + '</small></p>' +\n    '</div>' +\n  '</div>' +\n'</section>';\n\nreturn [{ json: { sectionHtml: html, sectionName: 'scope' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7840,
        -16
      ],
      "id": "ad8f76f8-af8a-4b3e-98c4-6a2812baa8fe",
      "name": "Scope Generator"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8048,
        -16
      ],
      "id": "ad7ec187-891a-48e9-997b-60d220992591",
      "name": "Wait4",
      "webhookId": "0036a778-08b8-4396-9ce4-ff29cba90003"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nATTRIBUTE SUMMARY:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary, null, 2) }}\n\nMICRO-SEGMENTS:\n{{ JSON.stringify($('Save Trend List').first().json.microSegments, null, 2) }}\n\nVISUAL TRENDS:\n{{ JSON.stringify($('Merge Image Analysis').first().json.imageAnalysis?.trend_summary, null, 2) }}\n\nBLOG INSIGHTS:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.style_insights, null, 2) }}\n\nPRODUCT COUNT: {{ $('Remove Invalid Products').first().json.totalFiltered }}\nSOCIAL ITEMS: {{ $('Merge Social Data1').first().json.totalSocialItems }}",
        "options": {
          "systemMessage": "You are a senior market analyst writing an executive summary for Wayfair's category strategy team.\n\nTASK: Write a compelling Executive Summary section for the trend report.\n\nREQUIREMENTS:\n1. Lead with the single most important insight\n2. Include 4-5 key bullet points covering:\n   - Primary trend direction\n   - Top-performing product attributes\n   - Emerging micro-segments to watch\n   - Market opportunity or risk signal\n   - Actionable recommendation\n\n3. Add a \"Why This Matters\" paragraph (2-3 sentences)\n\nOUTPUT FORMAT (HTML only, no markdown fences):\n<section class=\"executive-summary\">\n  <h2>Executive Summary</h2>\n  <div class=\"summary-hero\">\n    <div class=\"key-insight\">\n      <span class=\"label\">Key Insight</span>\n      <p>[Single most important finding]</p>\n    </div>\n  </div>\n  <div class=\"summary-points\">\n    <h3>Key Findings</h3>\n    <ul>\n      <li><strong>[Topic]:</strong> [Insight]</li>\n    </ul>\n  </div>\n  <div class=\"why-matters\">\n    <h3>Why This Matters</h3>\n    <p>[Strategic implications]</p>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8256,
        -16
      ],
      "id": "29166a02-eb50-4e5b-927c-81c19ebb48d6",
      "name": "Executive Summary Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        8128,
        192
      ],
      "id": "099c3bf8-fdd1-4ff7-9dea-a20df4641cd5",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8608,
        -16
      ],
      "id": "cd1ebeab-0f54-4cd8-8efa-1483373809d4",
      "name": "Wait5",
      "webhookId": "46016061-5daa-4acb-9c88-7b0ecc8dda8a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nMARKET DATA (QUANTITATIVE - USE FOR STATISTICS):\n{{ JSON.stringify($('Fetch Market Data').first().json.items[0]?.content, null, 2) }}\n\nBLOG KNOWLEDGE (YOUR PRIMARY SOURCE):\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge, null, 2) }}\n\nPRODUCT PRICE DATA:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary?.price_distribution, null, 2) }}",
        "options": {
          "systemMessage": "You are a senior market research analyst. Use the blog knowledge as your primary source to write an authoritative Market Research section.\n\nSECTIONS TO WRITE:\n\n1. MARKET DATA (Use quantitative data from MARKET DATA input)\n     - Market Size: Current value and projected growth\n     - Growth Rate: CAGR percentage\n     - Key Segments: By material, price, distribution\n     - Regional Highlights: If available\n\n2. MARKET OVERVIEW (2-3 paragraphs)\n   - Current state of this rug category market\n   - Key consumer trends driving demand\n   - Where this category fits in home decor\n\n2. BUYER PROFILE\n   - Who buys this category?\n   - Purchase motivations\n   - Key decision factors\n\n3. EXPERT INSIGHTS\n   Include 2-3 \"Expert Tip\" callouts with actionable advice from blog knowledge\n\nOUTPUT FORMAT (HTML only):\n <section class=\"market-research\">\n    <h2>Market Research</h2>\n    <div class=\"market-data\">\n      <h3>Market Data & Forecasts</h3>\n      <div class=\"profile-grid\">\n        <div class=\"profile-card\">\n          <h4>Market Size (2025)</h4>\n          <p style=\"font-size: 24px; font-weight: bold; color: #059669;\">[Value]</p>\n        </div>\n        <div class=\"profile-card\">\n          <h4>Projected (2033)</h4>\n          <p style=\"font-size: 24px; font-weight: bold; color: #059669;\">[Value]</p>\n        </div>\n        <div class=\"profile-card\">\n          <h4>CAGR</h4>\n          <p style=\"font-size: 24px; font-weight: bold; color: #059669;\">[Percentage]</p>\n        </div>\n      </div>\n      <h4>Key Segments</h4>\n      <ul>[Segment insights from market data]</ul>\n    </div>\n    <div class=\"market-overview\">\n      <h3>Market Overview</h3>\n      <p>[Analysis paragraphs]</p>\n    </div>\n    <div class=\"buyer-profile\">\n      <h3>Buyer Profile</h3>\n      <div class=\"profile-grid\">\n        <div class=\"profile-card\">\n          <h4>Who Buys</h4>\n          <p>[Demographics]</p>\n        </div>\n        <div class=\"profile-card\">\n          <h4>Motivations</h4>\n          <ul>[Points]</ul>\n        </div>\n        <div class=\"profile-card\">\n          <h4>Decision Factors</h4>\n          <ul>[Points]</ul>\n        </div>\n      </div>\n    </div>\n    <div class=\"expert-insights\">\n      <h3>Expert Insights</h3>\n      <div class=\"expert-tip\">\n        <span class=\"tip-icon\">💡</span>\n        <div class=\"tip-content\">\n          <h4>[Tip Title]</h4>\n          <p>[Actionable advice]</p>\n        </div>\n      </div>\n    </div>\n  </section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8816,
        -16
      ],
      "id": "559d86cb-9264-4f8a-971a-88a00646f1ed",
      "name": "Market Research Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        8688,
        192
      ],
      "id": "6607a66d-3de5-4cda-94a6-2a945bcc2a4a",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9168,
        -16
      ],
      "id": "317ad94d-4b45-4fba-95a8-5572c4458a8f",
      "name": "Wait6",
      "webhookId": "5dea44b3-dacf-4b2f-9054-dda77f843a2a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nMICRO-SEGMENTS (write FULL descriptions):\n{{ JSON.stringify($('Save Trend List').first().json.microSegments, null, 2) }}\n\nBLOG SIZING KNOWLEDGE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.sizing, null, 2) }}",
        "options": {
          "systemMessage": "You are a category specialist writing the Category Deep Dive section.\n\nSECTIONS:\n\n1. CATEGORY DEFINITION\n   - What defines this rug type\n   - Typical specifications\n   - Common use cases\n\n2. MICRO-SEGMENTS (CRITICAL - write FULL descriptions)\n   For EACH micro-segment, write a complete feature card:\n   - Segment name\n   - FULL description (3-4 sentences minimum - NEVER truncate)\n   - Visual characteristics\n   - Color palette\n   - Target rooms\n   - Why it's trending\n\n3. SIZING GUIDE\n   Room-by-room recommendations from blog knowledge\n\nOUTPUT FORMAT (HTML only):\n<section class=\"category-deep-dive\">\n  <h2>Category Deep Dive</h2>\n  <div class=\"category-definition\">\n    <h3>Category Definition</h3>\n    <p>[Definition]</p>\n  </div>\n  <div class=\"micro-segments\">\n    <h3>Trending Micro-Segments</h3>\n    <div class=\"segment-cards\">\n      <div class=\"segment-card\">\n        <div class=\"segment-header\">\n          <h4>[Segment Name]</h4>\n          <span class=\"segment-badge\">[positioning]</span>\n        </div>\n        <p class=\"segment-description\">[FULL 3-4 sentence description]</p>\n        <div class=\"segment-meta\">\n          <span>🎨 [Colors]</span>\n          <span>🏠 [Target rooms]</span>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"sizing-guide\">\n    <h3>Sizing Guide</h3>\n    [Room recommendations]\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        9376,
        -16
      ],
      "id": "8230b929-bbc5-494f-800f-117a50b83a26",
      "name": "Category Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        9248,
        192
      ],
      "id": "628eed8e-3f72-4dfe-b12a-c3860ff2df32",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9728,
        -16
      ],
      "id": "aaa3e836-1770-4b67-b329-50910cae7924",
      "name": "Wait7",
      "webhookId": "96d10e30-eac1-4651-bbd7-fa71487c52aa"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        9808,
        192
      ],
      "id": "5c6ac07c-45c7-4871-a42d-46fd357bc50e",
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10288,
        -16
      ],
      "id": "73b060cb-757f-4385-b790-88912366a297",
      "name": "Wait8",
      "webhookId": "b8065752-ad16-404f-a0bc-f20e1d34bd38"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMAGE ANALYSIS:\n{{ JSON.stringify($('Merge Image Analysis').first().json.imageAnalysis, null, 2) }}\n\nNote: Visual trend data is derived from social media captions and hashtags (Instagram/Pinterest), not direct image analysis. Use the hashtag frequencies and caption text to identify color, pattern, and style trends.\n\nSOCIAL IMAGES COUNT: {{ $('Merge Social Data1').first().json.totalSocialImages }}\n\nGENERATED IMAGES COUNT: {{ $('Collect All Images').first().json.generatedImages?.length || 0 }}",
        "options": {
          "systemMessage": "You are a visual trend analyst.\n\nSECTIONS:\n\n1. VISUAL TREND SUMMARY\n   - Overall aesthetic direction\n   - Dominant color story\n   - Pattern trends\n   - Texture preferences\n\n2. MOODBOARD GALLERY\n   Use placeholders: {{GENERATED_IMAGE_0}}, {{GENERATED_IMAGE_1}}, etc.\n   Add descriptive captions\n\n3. SOCIAL REFERENCE GALLERY\n   Use placeholders: {{SOCIAL_IMAGE_0}}, {{SOCIAL_IMAGE_1}}, etc.\n   Include source and caption\n\nOUTPUT FORMAT (HTML only):\n<section class=\"visual-trends\">\n  <h2>Visual Trend Analysis</h2>\n  <div class=\"trend-summary\">\n    <h3>The Visual Story</h3>\n    <p>[Visual direction paragraphs]</p>\n    <div class=\"trend-highlights\">\n      <div class=\"highlight\">\n        <span class=\"highlight-label\">Dominant Colors</span>\n        <div class=\"color-palette-display\">\n          <span class=\"color-swatch\" style=\"background: [color]\">[name]</span>\n        </div>\n      </div>\n      <div class=\"highlight\">\n        <span class=\"highlight-label\">Key Patterns</span>\n        <p>[patterns]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"moodboard-gallery\">\n    <h3>AI-Generated Moodboards</h3>\n    <div class=\"gallery-grid\">\n      <div class=\"gallery-item\">\n        <img src=\"{{GENERATED_IMAGE_0}}\" alt=\"Moodboard\">\n        <p class=\"gallery-caption\">[Description]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"social-gallery\">\n    <h3>Trending on Social</h3>\n    <div class=\"gallery-grid\">\n      <div class=\"gallery-item social\">\n        <img src=\"{{SOCIAL_IMAGE_0}}\" alt=\"Social trend\">\n        <p class=\"gallery-caption\"><span class=\"source\">Instagram</span> [caption]</p>\n      </div>\n    </div>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        10496,
        -16
      ],
      "id": "2aa8ae04-4f81-493b-9bba-3b17da8fe64a",
      "name": "Visual Trends Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        10368,
        192
      ],
      "id": "1ace0816-df7b-4d2c-8a42-a57288e2190d",
      "name": "Mistral Cloud Chat Model5",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10816,
        -16
      ],
      "id": "cc3b319e-8d35-4fe8-a937-8a62ebb5a260",
      "name": "Wait9",
      "webhookId": "f8255c1f-9737-4ac1-9bcc-1acdef6cd31e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nBLOG CARE KNOWLEDGE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.care, null, 2) }}\n\nTOP MATERIALS:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary?.top_materials, null, 2) }}",
        "options": {
          "systemMessage": "You are a risk analyst. Write the Trend Risks section with informed assessments.\n\nANALYZE 5 RISK CATEGORIES:\n1. Performance Risks - durability, quality\n2. Price Risks - cost, value perception\n3. Sustainability Risks - environmental concerns\n4. Care Risks - maintenance, cleaning\n5. Trend Obsolescence - how quickly trends date\n\nRate each: High / Medium / Low\nInclude mitigation suggestions\n\nOUTPUT FORMAT (HTML only):\n<section class=\"trend-risks\">\n  <h2>Trend Risks Assessment</h2>\n  <div class=\"risk-summary\">\n    <span class=\"risk-high\">[X] High</span>\n    <span class=\"risk-medium\">[X] Medium</span>\n    <span class=\"risk-low\">[X] Low</span>\n  </div>\n  <div class=\"risk-cards\">\n    <div class=\"risk-card risk-high\">\n      <div class=\"risk-header\">\n        <span class=\"risk-icon\">🔴</span>\n        <h4>[Risk Title]</h4>\n        <span class=\"risk-badge high\">High Risk</span>\n      </div>\n      <p class=\"risk-description\">[Description]</p>\n      <div class=\"risk-mitigation\"><strong>Mitigation:</strong> [Suggestion]</div>\n    </div>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        10992,
        -16
      ],
      "id": "588bc10c-d5e7-4ac8-bd43-6fcccb600efc",
      "name": "Risks Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        10864,
        192
      ],
      "id": "c035b070-178e-4e42-a275-29a7420f2373",
      "name": "Mistral Cloud Chat Model6",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        11280,
        -16
      ],
      "id": "0c06c9cd-428b-46fe-8f8c-8c99c012ac30",
      "name": "Wait10",
      "webhookId": "c39ba2ea-ec47-4ddc-b2bb-f5c8139980d2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CATEGORY: {{ $('Input Parser1').first().json.selectedCategory }}\n\nMICRO-SEGMENTS:\n{{ JSON.stringify($('Save Trend List').first().json.microSegments?.map(s => s.name), null, 2) }}\n\nTOP ATTRIBUTES:\n{{ JSON.stringify($('Save Standardized Data').first().json.summary, null, 2) }}\n\nBLOG BUYER GUIDANCE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.buyer_guidance, null, 2) }}",
        "options": {
          "systemMessage": "You are a category strategy consultant. Write actionable recommendations.\n\nSECTIONS:\n\n1. DEMAND SIGNALS\n   - What the data tells us\n   - Consumer preference patterns\n   - Opportunity indicators\n\n2. STRATEGIC RECOMMENDATIONS (4-5 specific actions)\n   - Assortment recommendations\n   - Pricing strategy\n   - Marketing angles\n   - Segment prioritization\n\n3. QUICK WINS (3 immediate actions)\n\n4. WATCH LIST (trends to monitor)\n\nOUTPUT FORMAT (HTML only):\n<section class=\"recommendations\">\n  <h2>Demand Signals & Recommendations</h2>\n  <div class=\"demand-signals\">\n    <h3>What the Data Tells Us</h3>\n    <div class=\"signal-cards\">\n      <div class=\"signal-card\">\n        <span class=\"signal-icon\">📈</span>\n        <p>[Insight]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"strategic-recs\">\n    <h3>Strategic Recommendations</h3>\n    <div class=\"rec-list\">\n      <div class=\"rec-item\">\n        <span class=\"rec-number\">1</span>\n        <div class=\"rec-content\">\n          <h4>[Title]</h4>\n          <p>[Recommendation]</p>\n          <span class=\"rec-impact\">Impact: High</span>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"quick-wins\">\n    <h3>Quick Wins</h3>\n    <div class=\"wins-grid\">\n      <div class=\"win-card\">\n        <span class=\"win-icon\">⚡</span>\n        <p>[Action]</p>\n      </div>\n    </div>\n  </div>\n  <div class=\"watch-list\">\n    <h3>Watch List</h3>\n    <ul><li>[Trend]</li></ul>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        11488,
        -16
      ],
      "id": "cebe973d-a878-4c2d-a2bf-bc061f720499",
      "name": "Recommendations Generator"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        11360,
        192
      ],
      "id": "c305e720-d32a-47af-aeec-786b2152bf59",
      "name": "Mistral Cloud Chat Model7",
      "credentials": {
        "mistralCloudApi": {
          "id": "YA3YNmag5oOlg9zz",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "## STAGE 5-6 MERGE & REPORT\n\nMerge all data into single structure\nSequential Mistral models (mistral-large-latest) generates and writes the report sections:\n\n- Blog Knowledge extractor\n- Executive Summary\n- Market Research\n- Category Deep Dive Generator\n- Attributes\n- Visual Trends \n- Risks\n- Recommendations",
        "height": 912,
        "width": 4656,
        "color": "#D49BE8"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7120,
        -432
      ],
      "id": "3bdb059d-d885-4ab9-92a6-adc63d4ea359",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ATTRIBUTE DATA:\n{{ JSON.stringify($('Save Standardized Data').first().json, null, 2) }}\n\nBLOG MATERIAL EXPERTISE:\n{{ JSON.stringify($('Parse Blog Knowledge').first().json.blogKnowledge?.materials, null, 2) }}\n\nPRODUCT COUNT: {{ $('Remove Invalid Products').first().json.totalFiltered }}",
        "options": {
          "systemMessage": "You are a product analyst creating data-driven attribute analysis.\n\nSECTIONS:\n\n1. MATERIALS BREAKDOWN\n   - Top materials with percentages (use data bars)\n   - Expert context from blog knowledge\n   - Recommendations for different needs\n\n2. SIZE DISTRIBUTION\n   - Most common sizes\n   - Buyer preference insights\n\n3. COLOR & PATTERN ANALYSIS\n   - Dominant colors with percentages\n   - Trending patterns\n\n4. PRICE POSITIONING\n   - Price bucket distribution\n   - Value insights\n\nInclude actual percentages for visualization. Add expert context from blog knowledge.\n\nOUTPUT FORMAT (HTML only):\n<section class=\"attribute-analysis\">\n  <h2>Product Attribute Analysis</h2>\n  <p class=\"section-intro\">Analysis of products reveals:</p>\n  <div class=\"attribute-grid\">\n    <div class=\"attribute-card\">\n      <h3>Materials</h3>\n      <div class=\"data-bars\">\n        <div class=\"data-row\">\n          <span class=\"label\">[Material]</span>\n          <div class=\"bar-container\"><div class=\"bar\" style=\"width: [X]%\"></div></div>\n          <span class=\"value\">[X]%</span>\n        </div>\n      </div>\n      <div class=\"expert-note\"><strong>Expert Note:</strong> [Context]</div>\n    </div>\n    <div class=\"attribute-card\">\n      <h3>Sizes</h3>\n      [Similar structure]\n    </div>\n    <div class=\"attribute-card\">\n      <h3>Colors & Patterns</h3>\n      [Color chips and pattern list]\n    </div>\n    <div class=\"attribute-card\">\n      <h3>Price Distribution</h3>\n      [Price tiers]\n    </div>\n  </div>\n</section>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        9936,
        -16
      ],
      "id": "de090972-63a2-484d-abb5-1e3725dc3aa1",
      "name": "Attribute Generator"
    },
    {
      "parameters": {
        "jsCode": "// Collect all section outputs\nconst sections = {};\n\ntry { sections.executive = $('Executive Summary Generator').first().json.output || ''; } catch(e) { sections.executive = ''; }\ntry { sections.scope = $('Scope Generator').first().json.sectionHtml || ''; } catch(e) { sections.scope = ''; }\ntry { sections.market = $('Market Research Generator').first().json.output || ''; } catch(e) { sections.market = ''; }\ntry { sections.category = $('Category Generator').first().json.output || ''; } catch(e) { sections.category = ''; }\ntry { sections.attributes = $('Attribute Generator').first().json.output || ''; } catch(e) { sections.attributes = ''; }\ntry { sections.visual = $('Visual Trends Generator').first().json.output || ''; } catch(e) { sections.visual = ''; }\ntry { sections.risks = $('Risks Generator').first().json.output || ''; } catch(e) { sections.risks = ''; }\ntry { sections.recommendations = $('Recommendations Generator').first().json.output || ''; } catch(e) { sections.recommendations = ''; }\n\n// Get metadata\nconst category = $('Input Parser1').first().json.selectedCategory;\nconst date = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// Get image store\nlet imageStore = { generatedImages: [], socialRefImages: [] };\ntry {\n  const collectData = $('Collect All Images').first().json;\n  imageStore.generatedImages = collectData.generatedImages || [];\n  imageStore.socialRefImages = $('Merge Social Data1').first().json.socialImages || [];\n} catch(e) {}\n\nreturn [{\n  json: {\n    sections,\n    metadata: { category, date },\n    imageStore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11856,
        -16
      ],
      "id": "70859d87-c465-45a4-966c-0d52d5e6ecb4",
      "name": "Collect All Sections"
    },
    {
      "parameters": {
        "jsCode": "var data = $input.first().json;\nvar sections = data.sections;\nvar metadata = data.metadata;\nvar imageStore = data.imageStore;\n\n// Clean markdown artifacts from AI outputs\nfunction cleanSection(html) {\n  if (!html) return '';\n  return html\n    .replace(/```html\\s*/gi, '')\n    .replace(/```\\s*/gi, '')\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .trim();\n}\n\n// Professional CSS - using array join to avoid escaping issues\nvar cssLines = [\n  ':root {',\n  '  --primary: #7C3AED;',\n  '  --primary-light: #A78BFA;',\n  '  --secondary: #1F2937;',\n  '  --accent: #F59E0B;',\n  '  --success: #10B981;',\n  '  --warning: #F59E0B;',\n  '  --danger: #EF4444;',\n  '  --bg-light: #F9FAFB;',\n  '  --bg-card: #FFFFFF;',\n  '  --border: #E5E7EB;',\n  '  --text: #1F2937;',\n  '  --text-light: #6B7280;',\n  '}',\n  '* { margin: 0; padding: 0; box-sizing: border-box; }',\n  'body { font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; font-size: 14px; line-height: 1.6; color: var(--text); background: var(--bg-light); }',\n  '.report-container { max-width: 1000px; margin: 0 auto; padding: 40px 24px; }',\n  '.report-header { background: linear-gradient(135deg, var(--primary) 0%, #5B21B6 100%); color: white; padding: 48px 40px; border-radius: 16px; margin-bottom: 32px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); }',\n  '.report-header h1 { font-size: 32px; font-weight: 700; margin-bottom: 8px; }',\n  '.report-header .subtitle { font-size: 16px; opacity: 0.9; }',\n  '.report-header .meta { margin-top: 16px; font-size: 13px; opacity: 0.8; }',\n  'section { background: var(--bg-card); border-radius: 12px; padding: 32px; margin-bottom: 24px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }',\n  'section h2 { font-size: 22px; font-weight: 600; color: var(--secondary); margin-bottom: 24px; padding-bottom: 12px; border-bottom: 2px solid var(--primary-light); }',\n  'section h3 { font-size: 16px; font-weight: 600; color: var(--primary); margin: 24px 0 12px 0; }',\n  'section h4 { font-size: 14px; font-weight: 600; color: var(--secondary); margin-bottom: 8px; }',\n  'p { margin-bottom: 12px; }',\n  'ul, ol { margin-left: 20px; margin-bottom: 16px; }',\n  'li { margin-bottom: 6px; }',\n  '.scope-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 16px; }',\n  '.scope-card { background: var(--bg-light); border-radius: 8px; padding: 20px; text-align: center; }',\n  '.scope-icon { font-size: 28px; margin-bottom: 12px; }',\n  '.scope-card h4 { color: var(--primary); margin-bottom: 8px; }',\n  '.scope-card ul { text-align: left; font-size: 13px; margin-left: 16px; }',\n  '.summary-hero { background: linear-gradient(135deg, var(--bg-light) 0%, #EDE9FE 100%); border-radius: 12px; padding: 24px; margin-bottom: 24px; }',\n  '.key-insight { border-left: 4px solid var(--primary); padding-left: 16px; }',\n  '.key-insight .label { font-size: 11px; font-weight: 600; color: var(--primary); text-transform: uppercase; }',\n  '.key-insight p { font-size: 18px; font-weight: 500; margin: 8px 0 0 0; }',\n  '.profile-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; margin-top: 16px; }',\n  '.profile-card { background: var(--bg-light); padding: 16px; border-radius: 8px; }',\n  '.expert-tip { display: flex; gap: 16px; background: linear-gradient(135deg, #FEF3C7 0%, #FDE68A 100%); border-left: 4px solid var(--accent); border-radius: 0 8px 8px 0; padding: 16px; margin: 16px 0; }',\n  '.tip-icon { font-size: 24px; }',\n  '.tip-content h4 { color: var(--secondary); margin-bottom: 4px; }',\n  '.tip-content p { margin: 0; font-size: 13px; }',\n  '.segment-cards { display: grid; gap: 20px; }',\n  '.segment-card { background: var(--bg-light); border-radius: 12px; padding: 24px; border: 1px solid var(--border); }',\n  '.segment-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px; }',\n  '.segment-badge { font-size: 11px; background: var(--primary-light); color: white; padding: 4px 10px; border-radius: 12px; }',\n  '.segment-description { line-height: 1.7; margin-bottom: 16px; }',\n  '.segment-meta { display: flex; gap: 16px; font-size: 13px; color: var(--text-light); }',\n  '.attribute-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; }',\n  '.attribute-card { background: var(--bg-light); padding: 20px; border-radius: 8px; }',\n  '.data-bars { margin: 16px 0; }',\n  '.data-row { display: flex; align-items: center; margin-bottom: 12px; }',\n  '.data-row .label { width: 100px; font-size: 13px; font-weight: 500; }',\n  '.data-row .bar-container { flex: 1; height: 8px; background: white; border-radius: 4px; margin: 0 12px; overflow: hidden; }',\n  '.data-row .bar { height: 100%; background: linear-gradient(90deg, var(--primary), var(--accent)); border-radius: 4px; }',\n  '.data-row .value { width: 40px; text-align: right; font-size: 13px; font-weight: 600; }',\n  '.expert-note { font-size: 13px; color: var(--text-light); padding-top: 12px; border-top: 1px solid var(--border); margin-top: 12px; }',\n  '.gallery-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 20px; margin: 20px 0; }',\n  '.gallery-item { background: var(--bg-light); border-radius: 12px; overflow: hidden; border: 1px solid var(--border); }',\n  '.gallery-item img { width: 100%; height: 200px; object-fit: cover; }',\n  '.gallery-caption { padding: 12px 16px; font-size: 13px; color: var(--text-light); }',\n  '.gallery-item.social { background: #FFF7ED; border-color: #FDBA74; }',\n  '.source { display: inline-block; background: #FB923C; color: white; padding: 2px 8px; border-radius: 4px; font-size: 11px; margin-right: 8px; }',\n  '.risk-summary { display: flex; gap: 12px; margin-bottom: 20px; }',\n  '.risk-summary span { padding: 8px 16px; border-radius: 8px; font-weight: 600; font-size: 13px; }',\n  '.risk-high { background: #FEE2E2; color: #DC2626; }',\n  '.risk-medium { background: #FEF3C7; color: #D97706; }',\n  '.risk-low { background: #D1FAE5; color: #059669; }',\n  '.risk-cards { display: grid; gap: 16px; }',\n  '.risk-card { border-radius: 8px; padding: 20px; }',\n  '.risk-card.risk-high { background: #FEF2F2; border-left: 4px solid var(--danger); }',\n  '.risk-card.risk-medium { background: #FFFBEB; border-left: 4px solid var(--warning); }',\n  '.risk-card.risk-low { background: #ECFDF5; border-left: 4px solid var(--success); }',\n  '.risk-header { display: flex; align-items: center; gap: 12px; margin-bottom: 12px; }',\n  '.risk-badge { font-size: 11px; font-weight: 600; padding: 4px 8px; border-radius: 4px; text-transform: uppercase; margin-left: auto; }',\n  '.risk-badge.high { background: var(--danger); color: white; }',\n  '.risk-badge.medium { background: var(--warning); color: white; }',\n  '.risk-badge.low { background: var(--success); color: white; }',\n  '.risk-mitigation { font-size: 13px; color: var(--text-light); margin-top: 12px; padding-top: 12px; border-top: 1px solid var(--border); }',\n  '.signal-cards { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; margin: 16px 0; }',\n  '.signal-card { background: var(--bg-light); padding: 16px; border-radius: 8px; text-align: center; }',\n  '.signal-icon { font-size: 24px; margin-bottom: 8px; }',\n  '.rec-list { display: grid; gap: 16px; }',\n  '.rec-item { display: flex; gap: 16px; padding: 20px; background: var(--bg-light); border-radius: 8px; }',\n  '.rec-number { width: 32px; height: 32px; background: var(--primary); color: white; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0; }',\n  '.rec-impact { display: inline-block; margin-top: 8px; font-size: 12px; font-weight: 600; color: var(--success); }',\n  '.wins-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; }',\n  '.win-card { background: linear-gradient(135deg, #ECFDF5 0%, #D1FAE5 100%); border-radius: 8px; padding: 20px; text-align: center; }',\n  '.win-icon { font-size: 28px; margin-bottom: 8px; }',\n  '.report-footer { text-align: center; padding: 32px; color: var(--text-light); font-size: 12px; }',\n  '@media (max-width: 768px) { .profile-grid, .attribute-grid, .signal-cards, .wins-grid { grid-template-columns: 1fr; } .report-header { padding: 32px 24px; } .report-header h1 { font-size: 24px; } }'\n];\n\nvar CSS = cssLines.join('\\n');\n\n// Build final HTML using string concatenation\nvar html = '<!DOCTYPE html>' +\n  '<html lang=\"en\">' +\n  '<head>' +\n    '<meta charset=\"UTF-8\">' +\n    '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">' +\n    '<title>' + metadata.category + ' Trend Report</title>' +\n    '<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">' +\n    '<style>' + CSS + '</style>' +\n  '</head>' +\n  '<body>' +\n    '<div class=\"report-container\">' +\n      '<header class=\"report-header\">' +\n        '<h1>' + metadata.category + ' Trend Report</h1>' +\n        '<p class=\"subtitle\">Market Intelligence & Trend Analysis</p>' +\n        '<p class=\"meta\">Generated: ' + metadata.date + ' | Wayfair Market Trend Discovery Agent v3</p>' +\n      '</header>' +\n      '<main>' +\n        cleanSection(sections.executive) +\n        cleanSection(sections.scope) +\n        cleanSection(sections.market) +\n        cleanSection(sections.category) +\n        cleanSection(sections.attributes) +\n        cleanSection(sections.visual) +\n        cleanSection(sections.risks) +\n        cleanSection(sections.recommendations) +\n      '</main>' +\n      '<footer class=\"report-footer\">' +\n        '<p>Wayfair Market Trend Discovery Agent v3.0</p>' +\n        '<p>Generated with AI-powered analysis | ' + metadata.date + '</p>' +\n      '</footer>' +\n    '</div>' +\n  '</body>' +\n'</html>';\n\n// Inject generated images (replaces {{GENERATED_IMAGE_N}} placeholders)\nvar genImages = imageStore.generatedImages || [];\nfor (var i = 0; i < genImages.length; i++) {\n  var img = genImages[i];\n  var placeholder = '{{GENERATED_IMAGE_' + i + '}}';\n  var base64 = img.base64 || img.base64Image || '';\n  if (base64) {\n    var dataUrl = 'data:image/png;base64,' + base64;\n    html = html.split(placeholder).join(dataUrl);\n  }\n}\n\n// Inject social images (replaces {{SOCIAL_IMAGE_N}} placeholders)\nvar socialImages = imageStore.socialRefImages || [];\nfor (var j = 0; j < socialImages.length; j++) {\n  var simg = socialImages[j];\n  var splaceholder = '{{SOCIAL_IMAGE_' + j + '}}';\n  var smimeType = simg.mime_type || simg.mimeType || 'image/jpeg';\n  var sbase64 = simg.image_base64 || simg.base64 || '';\n  if (sbase64) {\n    var sdataUrl = 'data:' + smimeType + ';base64,' + sbase64;\n    html = html.split(splaceholder).join(sdataUrl);\n  }\n}\n\n\n// Catch AI's invented filenames like moodboard_1.png / social_1.jpg and substitute real images\n  html = html.replace(/<img([^>]*?)\\ssrc=[\"']moodboard[_-]?(\\d+)\\.[a-z]+[\"']([^>]*)>/gi, function(_, pre, n, post) {\n    var idx = parseInt(n) - 1;\n    var img = genImages[idx];\n    var b64 = img && (img.base64 || img.base64Image);\n    return b64 ? '<img' + pre + ' src=\"data:image/png;base64,' + b64 + '\"' + post + '>' : '';\n  });\n\n  html = html.replace(/<img([^>]*?)\\ssrc=[\"']social[_-]?(\\d+)\\.[a-z]+[\"']([^>]*)>/gi, function(_, pre, n, post) {\n    var idx = parseInt(n) - 1;\n    var simg = socialImages[idx];\n    var b64 = simg && (simg.image_base64 || simg.base64);\n    var mt = (simg && (simg.mime_type || simg.mimeType)) || 'image/jpeg';\n    return b64 ? '<img' + pre + ' src=\"data:' + mt + ';base64,' + b64 + '\"' + post + '>' : '';\n  });\n\n\n// Clean up any unreplaced placeholders so they don't appear as raw text\nhtml = html.replace(/\\{\\{GENERATED_IMAGE_\\d+\\}\\}/g, '');\nhtml = html.replace(/\\{\\{SOCIAL_IMAGE_\\d+\\}\\}/g, '');\n\nreturn [{ json: { cleanedHtml: html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12048,
        -16
      ],
      "id": "55c87489-2e1a-47a6-82c9-122b3d75742b",
      "name": "Assemble HTML Report"
    },
    {
      "parameters": {
        "jsCode": "// Validate report sections and check images were injected\nconst html = $input.first().json.cleanedHtml || '';\n\nconst requiredSections = [\n  { name: 'Executive Summary', pattern: /executive\\s*summary/i },\n  { name: 'Scope', pattern: /scope|research/i },\n  { name: 'Category', pattern: /category/i },\n  { name: 'Attribute', pattern: /attribute|material|size/i },\n  { name: 'Risk', pattern: /risk/i },\n  { name: 'Demand', pattern: /demand|signal|seo/i }\n];\n\nconst validation = {\n  isValid: true,\n  sectionsFound: [],\n  sectionsMissing: [],\n  warnings: []\n};\n\nrequiredSections.forEach(section => {\n  if (section.pattern.test(html)) {\n    validation.sectionsFound.push(section.name);\n  } else {\n    validation.sectionsMissing.push(section.name);\n  }\n});\n\n// Check for injected images (both PNG and JPEG)\nconst pngImages = (html.match(/data:image\\/png;base64,/g) || []).length;\nconst jpegImages = (html.match(/data:image\\/jpeg;base64,/g) || []).length;\nvalidation.imageCount = pngImages + jpegImages;\n\nif (validation.imageCount === 0) {\n  validation.warnings.push('No images embedded');\n}\n\n// Check HTML structure\nif (!html.includes('</html>')) {\n  validation.warnings.push('HTML may be truncated');\n  validation.isValid = false;\n}\n\nreturn [{ json: { cleanedHtml: html, validation } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12256,
        -16
      ],
      "id": "f489b1bd-b472-4d44-b36a-4d4f290c25af",
      "name": "Section Validator1"
    },
    {
      "parameters": {
        "jsCode": "// Create downloadable HTML file\nconst html = $input.first().json.cleanedHtml || '';\nconst validation = $input.first().json.validation || {};\nconst category = $('Input Parser1').first().json.selectedCategory || 'Rug';\n\n// Generate filename\nconst dateStr = new Date().toISOString().split('T')[0];\nconst categorySlug = category.toLowerCase().replace(/\\s+/g, '_');\nconst fileName = `${categorySlug}_trend_report_${dateStr}.html`;\n\n// Create binary data for download\nconst buffer = Buffer.from(html, 'utf8');\n\nreturn [{\n  json: {\n    fileName: fileName,\n    validation: validation,\n    category: category,\n    generatedAt: new Date().toISOString()\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12464,
        -16
      ],
      "id": "1cc6ffc9-1b39-473f-8b13-331eb23b5a9b",
      "name": "Download Final Report"
    },
    {
      "parameters": {
        "content": "## STAGE 7: OUTPUT\n\n- HTML cleanup & validation\n- Section presence check\n- Create a downloadable HTML file\n- Preview in n8n",
        "height": 464,
        "width": 816,
        "color": "#98B6F0"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        11824,
        -208
      ],
      "id": "8823db5f-0bde-4fb9-9e70-392e36bea4c1",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Validator1": {
      "main": [
        [
          {
            "node": "Get Category Key",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Amazon Products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parser1": {
      "main": [
        [
          {
            "node": "Category Validator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Amazon Products": {
      "main": [
        [
          {
            "node": "Has Products ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Products ?": {
      "main": [
        [
          {
            "node": "Reshape Amazon Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Amazon Products1": {
      "main": [
        []
      ]
    },
    "Get Category Key": {
      "main": [
        [
          {
            "node": "Fetch Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Pinterest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Blogs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instagram": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pinterest": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Blogs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Market Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Social Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Social Data1": {
      "main": [
        [
          {
            "node": "Merge Image Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reshape Amazon Response": {
      "main": [
        [
          {
            "node": "Merge All Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Image Analysis": {
      "main": [
        [
          {
            "node": "Merge All Data1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Judge Product Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Judge Product Category",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Judge Product Category": {
      "main": [
        [
          {
            "node": "Remove Invalid Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Invalid Products": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Standardize Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Standardize Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Details": {
      "main": [
        [
          {
            "node": "Save Standardized Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Standardized Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Identify Top Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Identify Top Trends",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Identify Top Trends": {
      "main": [
        [
          {
            "node": "Save Trend List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Trend List": {
      "main": [
        [
          {
            "node": "Split Segments for Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Segments for Images": {
      "main": [
        [
          {
            "node": "Check Segment Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Segment Exists": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Clean Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Prompt": {
      "main": [
        [
          {
            "node": "Generate Image (HuggingFace)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (HuggingFace)": {
      "main": [
        [
          {
            "node": "Encode to Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode to Base": {
      "main": [
        [
          {
            "node": "Collect All Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Images": {
      "main": [
        [
          {
            "node": "Blog Knowledge Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Knowledge Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog Knowledge Extractor": {
      "main": [
        [
          {
            "node": "Parse Blog Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Blog Knowledge": {
      "main": [
        [
          {
            "node": "Scope Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scope Generator": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Executive Summary Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Executive Summary Generator": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Market Research Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Market Research Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Market Research Generator": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Category Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Category Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Category Generator": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Attribute Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Attribute Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Visual Trends Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Visual Trends Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Visual Trends Generator": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "Risks Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Risks Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Risks Generator": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "Recommendations Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Recommendations Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Generator": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recommendations Generator": {
      "main": [
        [
          {
            "node": "Collect All Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Sections": {
      "main": [
        [
          {
            "node": "Assemble HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble HTML Report": {
      "main": [
        [
          {
            "node": "Section Validator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Validator1": {
      "main": [
        [
          {
            "node": "Download Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2d30a5b2-f36b-4bdc-aa9c-91e5a4eb72b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf77233f1e2b743192a1f495c3c98ca584edd6ad93234c59b8044e32ecc43e2e"
  },
  "nodeGroups": [],
  "id": "thTL7LAR2WqA2EZS",
  "tags": []
}